openapi: 3.2.0
info:
  title: Microburbs Property Data Property - Profile API
  summary: Suburb and property data for every Australian locality.
  description: '**One REST API for demographics, market indicators, risk scores, AVM and

    ranking — backed by 25+ years of Australian transactions and census data.**


    ```bash

    curl ''https://api.microburbs.com.au/v1/properties/GANSW704074813/profile'' \

    -H ''Authorization: Bearer test''

    ```


    ## Why Microburbs


    - **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.'
  version: 1.0.0
servers:
- url: https://api.microburbs.com.au
  description: Production
security:
- BearerAuth: []
tags:
- name: Property - Profile
  description: ABS geo profile — mesh block + SA1–SA4 + LGA + state.
paths:
  /v1/properties/{gnaf_id}/profile:
    get:
      tags:
      - Property - Profile
      summary: ABS geo profile
      description: 'Resolve a GNAF to its full ABS Statistical Geography Standard

        hierarchy (Mesh Block → SA1 → SA2 → SA3 → SA4 → GCCSA → State) plus

        the parallel admin chain (LGA, suburb (SAL), postcode). Call this

        once to get every ABS key the rest of the data layers index on.


        **Price: 3¢ per call.**'
      operationId: get_property_profile_v1_properties__gnaf_id__profile_get
      parameters:
      - name: gnaf_id
        in: path
        required: true
        schema:
          type: string
          title: Gnaf Id
          example: GANSW704074813
        example: GANSW704074813
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_PropertyProfile_'
              example:
                data:
                  gccsa: Australian Capital Territory
                  lga: Unincorporated ACT
                  mesh_block: '80111103200'
                  postcode: '2902'
                  sa1: '80101102001'
                  sa2: Kambah
                  sa3: Tuggeranong
                  sa4: Australian Capital Territory
                  state: ACT
                  suburb: Kambah (ACT)
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 3
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PropertyProfile:
      properties:
        mesh_block:
          type: string
          title: Mesh Block
          description: ABS Mesh Block code.
        sa1:
          type: string
          title: Sa1
          description: SA1 code.
        sa2:
          type: string
          title: Sa2
          description: SA2 name.
        sa3:
          type: string
          title: Sa3
          description: SA3 name.
        sa4:
          type: string
          title: Sa4
          description: SA4 name.
        gccsa:
          type: string
          title: Gccsa
          description: Greater Capital City Statistical Area.
        state:
          type: string
          title: State
          description: State / Territory.
        lga:
          anyOf:
          - type: string
          - type: 'null'
          title: Lga
          description: Local Government Area.
        suburb:
          anyOf:
          - type: string
          - type: 'null'
          title: Suburb
          description: Suburb (SAL — ABS Suburb and Locality).
        postcode:
          anyOf:
          - type: string
          - type: 'null'
          title: Postcode
          description: Postcode (POA).
      type: object
      required:
      - mesh_block
      - sa1
      - sa2
      - sa3
      - sa4
      - gccsa
      - state
      title: PropertyProfile
      description: 'Full ABS geo hierarchy for a property — the "where in ABS world

        is this?" lookup. Mesh block, SA1–SA4, GCCSA, state, LGA, suburb

        (SAL), postcode. Useful before pulling mesh-block-aggregated layers.'
      example:
        gccsa: Australian Capital Territory
        lga: Unincorporated ACT
        mesh_block: '80111103200'
        postcode: '2902'
        sa1: '80101102001'
        sa2: Kambah
        sa3: Tuggeranong
        sa4: Australian Capital Territory
        state: ACT
        suburb: Kambah (ACT)
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ApiResponse_PropertyProfile_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/PropertyProfile'
          - type: 'null'
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[PropertyProfile]
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token. Use `test` for the public sandbox (works only for GNAFs GANSW704074813, GAACT714845944, GAVIC419929404, GAQLD162849753, GAWA_146662014, GASA_422266490, GATAS702292990, GANT_703835649 and SALs 'Belmont North', 'Bondi', 'St Kilda (Vic.)', 'Fortitude Valley', 'Subiaco', 'Unley', 'Sandy Bay', 'Kambah', 'Nightcliff', always 0¢). Mint your own at /developers/keys for full access.
x-tagGroups:
- name: Suburb
  tags:
  - Suburb - Hero
  - Suburb - Profile
  - Suburb - Market
  - Suburb - Forecast
  - Suburb - Listings
  - Suburb - Sales
  - Suburb - Street Forecasts
  - Suburb - Demographics
  - Suburb - Ethnicity
  - Suburb - Development
  - Suburb - Schools
  - Suburb - Risks
  - Suburb - Crime
  - Suburb - Lifestyle
  - Suburb - Similar
  - Suburb - Shapes
- name: Finders
  tags:
  - Suburb - Finder
- name: Property
  tags:
  - Property - Profile
  - Property - Basics
  - Property - Valuation
  - Property - History
  - Property - Title
  - Property - Comparables
  - Property - Development
  - Property - Schools
  - Property - Amenities
  - Property - Risks
  - Property - Surroundings
  - Property - Context
- name: Area Statistics
  tags:
  - Area Statistics
- name: Mesh Block
  tags:
  - Mesh Block - Profile
- name: LGA
  tags:
  - LGA - Profile
- name: SA4
  tags:
  - SA4 - Profile
- name: Geocode
  tags:
  - Geocode
- name: Account
  tags:
  - Account
