openapi: 3.2.0
info:
  title: Microburbs Property Data Suburb - Forecast API
  summary: Suburb and property data for every Australian locality.
  description: '**One REST API for demographics, market indicators, risk scores, AVM and

    ranking — backed by 25+ years of Australian transactions and census data.**


    ```bash

    curl ''https://api.microburbs.com.au/v1/properties/GANSW704074813/profile'' \

    -H ''Authorization: Bearer test''

    ```


    ## Why Microburbs


    - **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.'
  version: 1.0.0
servers:
- url: https://api.microburbs.com.au
  description: Production
security:
- BearerAuth: []
tags:
- name: Suburb - Forecast
  description: 12-month sale-price forecast.
paths:
  /v1/suburbs/{suburb_name}/forecast/sale:
    get:
      tags:
      - Suburb - Forecast
      summary: Sale-price growth forecast
      description: '1-year sale-price growth forecast (low / most-likely / high).


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 100¢ per call.**'
      operationId: get_suburb_forecast_sale_v1_suburbs__suburb_name__forecast_sale_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ForecastSale_'
              example:
                data:
                  area_level: suburb
                  area_name: Belmont North
                  house:
                    confidence: 2.0
                    high: 0.0927
                    low: 0.0379
                    most_likely: 0.0686
                  metric: sale_price_growth_forecast
                  unit:
                    confidence: 2.0
                    high: 0.0993
                    low: 0.0353
                    most_likely: 0.0762
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 100
components:
  schemas:
    ForecastSale:
      properties:
        area_name:
          type: string
          title: Area Name
          description: Suburb (SAL) name.
        area_level:
          type: string
          title: Area Level
          description: Always 'suburb' for these endpoints.
        metric:
          anyOf:
          - type: string
          - type: 'null'
          title: Metric
          description: Metric label, e.g. 'sale_price_growth_forecast'.
        house:
          anyOf:
          - $ref: '#/components/schemas/ForecastBand'
          - type: 'null'
          description: House forecast band.
        unit:
          anyOf:
          - $ref: '#/components/schemas/ForecastBand'
          - type: 'null'
          description: Unit forecast band.
      additionalProperties: true
      type: object
      required:
      - area_name
      - area_level
      title: ForecastSale
      description: 12-month sale-price growth forecast by property type.
      example:
        area_level: suburb
        area_name: Belmont North
        house:
          confidence: 2.0
          high: 0.0927
          low: 0.0379
          most_likely: 0.0686
        metric: sale_price_growth_forecast
        unit:
          confidence: 2.0
          high: 0.0993
          low: 0.0353
          most_likely: 0.0762
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ForecastBand:
      properties:
        low:
          anyOf:
          - type: number
          - type: 'null'
          title: Low
          description: Pessimistic end of the 12-month growth forecast, as a decimal fraction (0.0379 = +3.79%; negatives are falls). Not a floor — outcomes can land below it.
        most_likely:
          anyOf:
          - type: number
          - type: 'null'
          title: Most Likely
          description: Central estimate of 12-month growth, as a decimal fraction. The single number to quote if you can only show one, but it should carry `low`/`high` with it.
        high:
          anyOf:
          - type: number
          - type: 'null'
          title: High
          description: Optimistic end of the 12-month growth forecast, same decimal-fraction scale as `low`. Not a ceiling.
        confidence:
          anyOf:
          - type: number
          - type: 'null'
          title: Confidence
          description: How much weight to put on the forecast, on a 0–5 scale where 5 is most confident — it is not a percentage or a probability. High confidence means the low-to-high band is tight and the underlying market has enough sales to model; low confidence usually means a thin, volatile market where the band is wide.
      type: object
      title: ForecastBand
      description: 'A forecast expressed as a range rather than a single number — a

        most-likely outcome with a plausible low and high either side.


        Everywhere this shape appears the three figures are **growth over the

        next 12 months, as a decimal fraction**: 0.0379 means +3.79% over the

        year, and a negative value means a fall. Multiply by 100 to display as a

        percentage. Present the band, not just `most_likely` — the width between

        `low` and `high` is the honest part of the forecast.'
    ApiResponse_ForecastSale_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/ForecastSale'
          - type: 'null'
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[ForecastSale]
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token. Use `test` for the public sandbox (works only for GNAFs GANSW704074813, GAACT714845944, GAVIC419929404, GAQLD162849753, GAWA_146662014, GASA_422266490, GATAS702292990, GANT_703835649 and SALs 'Belmont North', 'Bondi', 'St Kilda (Vic.)', 'Fortitude Valley', 'Subiaco', 'Unley', 'Sandy Bay', 'Kambah', 'Nightcliff', always 0¢). Mint your own at /developers/keys for full access.
x-tagGroups:
- name: Suburb
  tags:
  - Suburb - Hero
  - Suburb - Profile
  - Suburb - Market
  - Suburb - Forecast
  - Suburb - Listings
  - Suburb - Sales
  - Suburb - Street Forecasts
  - Suburb - Demographics
  - Suburb - Ethnicity
  - Suburb - Development
  - Suburb - Schools
  - Suburb - Risks
  - Suburb - Crime
  - Suburb - Lifestyle
  - Suburb - Similar
  - Suburb - Shapes
- name: Finders
  tags:
  - Suburb - Finder
- name: Property
  tags:
  - Property - Profile
  - Property - Basics
  - Property - Valuation
  - Property - History
  - Property - Title
  - Property - Comparables
  - Property - Development
  - Property - Schools
  - Property - Amenities
  - Property - Risks
  - Property - Surroundings
  - Property - Context
- name: Area Statistics
  tags:
  - Area Statistics
- name: Mesh Block
  tags:
  - Mesh Block - Profile
- name: LGA
  tags:
  - LGA - Profile
- name: SA4
  tags:
  - SA4 - Profile
- name: Geocode
  tags:
  - Geocode
- name: Account
  tags:
  - Account
