openapi: 3.2.0
info:
  title: Microburbs Property Data Suburb - Market API
  summary: Suburb and property data for every Australian locality.
  description: '**One REST API for demographics, market indicators, risk scores, AVM and

    ranking — backed by 25+ years of Australian transactions and census data.**


    ```bash

    curl ''https://api.microburbs.com.au/v1/properties/GANSW704074813/profile'' \

    -H ''Authorization: Bearer test''

    ```


    ## Why Microburbs


    - **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.'
  version: 1.0.0
servers:
- url: https://api.microburbs.com.au
  description: Production
security:
- BearerAuth: []
tags:
- name: Suburb - Market
  description: Medians, growth, yield, days on market.
paths:
  /v1/suburbs/{suburb_name}/market/median-sale-price:
    get:
      tags:
      - Suburb - Market
      summary: Median sale price
      description: 'Latest median sale price for the suburb.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 6¢ per call.**'
      operationId: get_suburb_median_sale_price_v1_suburbs__suburb_name__market_median_sale_price_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_MedianSalePrice_'
              example:
                data:
                  area_level: suburb
                  area_name: Belmont North
                  as_of: '2026-05-24'
                  house: 1160000.0
                  unit: 573000.0
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 6
  /v1/suburbs/{suburb_name}/market/median-sale-price-series:
    get:
      tags:
      - Suburb - Market
      summary: Median sale price — full history (up to 20+ years)
      description: 'Full median sale-price observation history for the suburb. Well-covered

        suburbs extend back 20+ years; coverage and observation frequency vary.

        This is the raw historical series needed to calculate a stated 20-year

        return, not a precomputed "consistent growth" score or a forecast.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 15¢ per call.**'
      operationId: get_suburb_median_sale_price_series_v1_suburbs__suburb_name__market_median_sale_price_series_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_MedianSalePriceSeries_'
              example:
                data:
                  area_level: suburb
                  area_name: Belmont North
                  house:
                  - date: '2003-05-31'
                    value: 277000.0
                  - date: '2003-06-30'
                    value: 277000.0
                  - date: '2003-07-31'
                    value: 293000.0
                  - date: '2003-08-31'
                    value: 293000.0
                  - date: '2003-09-30'
                    value: 295000.0
                  - date: '2003-10-31'
                    value: 303000.0
                  - date: '2003-11-30'
                    value: 306000.0
                  - date: '2003-12-31'
                    value: 323000.0
                  - date: '2004-01-31'
                    value: 329000.0
                  - date: '2004-02-29'
                    value: 342000.0
                  - date: '2004-03-31'
                    value: 351000.0
                  - date: '2004-04-30'
                    value: 355000.0
                  - date: '2004-05-31'
                    value: 357000.0
                  - date: '2004-06-30'
                    value: 357000.0
                  - date: '2004-07-31'
                    value: 355000.0
                  - date: '2004-08-31'
                    value: 359000.0
                  - date: '2004-09-30'
                    value: 360000.0
                  - date: '2004-10-31'
                    value: 363000.0
                  - date: '2004-11-30'
                    value: 372000.0
                  - date: '2004-12-31'
                    value: 374000.0
                  - date: '2005-01-31'
                    value: 368000.0
                  - date: '2005-02-28'
                    value: 358000.0
                  - date: '2005-03-31'
                    value: 347000.0
                  - date: '2005-04-30'
                    value: 346000.0
                  - date: '2005-05-31'
                    value: 346000.0
                  - date: '2005-06-30'
                    value: 358000.0
                  - date: '2005-07-31'
                    value: 357000.0
                  - date: '2005-08-31'
                    value: 356000.0
                  - date: '2005-09-30'
                    value: 358000.0
                  - date: '2005-10-31'
                    value: 359000.0
                  - date: '2005-11-30'
                    value: 349000.0
                  - date: '2005-12-31'
                    value: 350000.0
                  - date: '2006-01-31'
                    value: 351000.0
                  - date: '2006-02-28'
                    value: 349000.0
                  - date: '2006-03-31'
                    value: 346000.0
                  - date: '2006-04-30'
                    value: 339000.0
                  - date: '2006-05-31'
                    value: 344000.0
                  - date: '2006-06-30'
                    value: 347000.0
                  - date: '2006-07-31'
                    value: 356000.0
                  - date: '2006-08-31'
                    value: 360000.0
                  - date: '2006-09-30'
                    value: 360000.0
                  - date: '2006-10-31'
                    value: 361000.0
                  - date: '2006-11-30'
                    value: 365000.0
                  - date: '2006-12-31'
                    value: 361000.0
                  - date: '2007-01-31'
                    value: 360000.0
                  - date: '2007-02-28'
                    value: 359000.0
                  - date: '2007-03-31'
                    value: 348000.0
                  - date: '2007-04-30'
                    value: 354000.0
                  - date: '2007-05-31'
                    value: 344000.0
                  - date: '2007-06-30'
                    value: 345000.0
                  - date: '2007-07-31'
                    value: 350000.0
                  - date: '2007-08-31'
                    value: 342000.0
                  - date: '2007-09-30'
                    value: 337000.0
                  - date: '2007-10-31'
                    value: 346000.0
                  - date: '2007-11-30'
                    value: 346000.0
                  - date: '2007-12-31'
                    value: 338000.0
                  - date: '2008-01-31'
                    value: 330000.0
                  - date: '2008-02-29'
                    value: 333000.0
                  - date: '2008-03-31'
                    value: 342000.0
                  - date: '2008-04-30'
                    value: 349000.0
                  - date: '2008-05-31'
                    value: 356000.0
                  - date: '2008-06-30'
                    value: 356000.0
                  - date: '2008-07-31'
                    value: 351000.0
                  - date: '2008-08-31'
                    value: 352000.0
                  - date: '2008-09-30'
                    value: 355000.0
                  - date: '2008-10-31'
                    value: 358000.0
                  - date: '2008-11-30'
                    value: 352000.0
                  - date: '2008-12-31'
                    value: 348000.0
                  - date: '2009-01-31'
                    value: 344000.0
                  - date: '2009-02-28'
                    value: 344000.0
                  - date: '2009-03-31'
                    value: 343000.0
                  - date: '2009-04-30'
                    value: 339000.0
                  - date: '2009-05-31'
                    value: 338000.0
                  - date: '2009-06-30'
                    value: 341000.0
                  - date: '2009-07-31'
                    value: 340000.0
                  - date: '2009-08-31'
                    value: 340000.0
                  - date: '2009-09-30'
                    value: 335000.0
                  - date: '2009-10-31'
                    value: 337000.0
                  - date: '2009-11-30'
                    value: 337000.0
                  - date: '2009-12-31'
                    value: 339000.0
                  - date: '2010-01-31'
                    value: 338000.0
                  - date: '2010-02-28'
                    value: 339000.0
                  - date: '2010-03-31'
                    value: 341000.0
                  - date: '2010-04-30'
                    value: 343000.0
                  - date: '2010-05-31'
                    value: 348000.0
                  - date: '2010-06-30'
                    value: 355000.0
                  - date: '2010-07-31'
                    value: 358000.0
                  - date: '2010-08-31'
                    value: 362000.0
                  - date: '2010-09-30'
                    value: 362000.0
                  - date: '2010-10-31'
                    value: 363000.0
                  - date: '2010-11-30'
                    value: 364000.0
                  - date: '2010-12-31'
                    value: 366000.0
                  - date: '2011-01-31'
                    value: 366000.0
                  - date: '2011-02-28'
                    value: 369000.0
                  - date: '2011-03-31'
                    value: 379000.0
                  - date: '2011-04-30'
                    value: 385000.0
                  - date: '2011-05-31'
                    value: 385000.0
                  - date: '2011-06-30'
                    value: 384000.0
                  - date: '2011-07-31'
                    value: 384000.0
                  - date: '2011-08-31'
                    value: 384000.0
                  - date: '2011-09-30'
                    value: 387000.0
                  - date: '2011-10-31'
                    value: 389000.0
                  - date: '2011-11-30'
                    value: 392000.0
                  - date: '2011-12-31'
                    value: 396000.0
                  - date: '2012-01-31'
                    value: 391000.0
                  - date: '2012-02-29'
                    value: 390000.0
                  - date: '2012-03-31'
                    value: 392000.0
                  - date: '2012-04-30'
                    value: 383000.0
                  - date: '2012-05-31'
                    value: 390000.0
                  - date: '2012-06-30'
                    value: 381000.0
                  - date: '2012-07-31'
                    value: 389000.0
                  - date: '2012-08-31'
                    value: 389000.0
                  - date: '2012-09-30'
                    value: 383000.0
                  - date: '2012-10-31'
                    value: 384000.0
                  - date: '2012-11-30'
                    value: 392000.0
                  - date: '2012-12-31'
                    value: 391000.0
                  - date: '2013-01-31'
                    value: 388000.0
                  - date: '2013-02-28'
                    value: 390000.0
                  - date: '2013-03-31'
                    value: 392000.0
                  - date: '2013-04-30'
                    value: 389000.0
                  - date: '2013-05-31'
                    value: 391000.0
                  - date: '2013-06-30'
                    value: 388000.0
                  - date: '2013-07-31'
                    value: 390000.0
                  - date: '2013-08-31'
                    value: 394000.0
                  - date: '2013-09-30'
                    value: 393000.0
                  - date: '2013-10-31'
                    value: 391000.0
                  - date: '2013-11-30'
                    value: 392000.0
                  - date: '2013-12-31'
                    value: 392000.0
                  - date: '2014-01-31'
                    value: 397000.0
                  - date: '2014-02-28'
                    value: 398000.0
                  - date: '2014-03-31'
                    value: 413000.0
                  - date: '2014-04-30'
                    value: 417000.0
                  - date: '2014-05-31'
                    value: 425000.0
                  - date: '2014-06-30'
                    value: 424000.0
                  - date: '2014-07-31'
                    value: 428000.0
                  - date: '2014-08-31'
                    value: 426000.0
                  - date: '2014-09-30'
                    value: 430000.0
                  - date: '2014-10-31'
                    value: 430000.0
                  - date: '2014-11-30'
                    value: 437000.0
                  - date: '2014-12-31'
                    value: 438000.0
                  - date: '2015-01-31'
                    value: 444000.0
                  - date: '2015-02-28'
                    value: 443000.0
                  - date: '2015-03-31'
                    value: 451000.0
                  - date: '2015-04-30'
                    value: 462000.0
                  - date: '2015-05-31'
                    value: 469000.0
                  - date: '2015-06-30'
                    value: 469000.0
                  - date: '2015-07-31'
                    value: 470000.0
                  - date: '2015-08-31'
                    value: 470000.0
                  - date: '2015-09-30'
                    value: 468000.0
                  - date: '2015-10-31'
                    value: 462000.0
                  - date: '2015-11-30'
                    value: 461000.0
                  - date: '2015-12-31'
                    value: 461000.0
                  - date: '2016-01-31'
                    value: 461000.0
                  - date: '2016-02-29'
                    value: 467000.0
                  - date: '2016-03-31'
                    value: 465000.0
                  - date: '2016-04-30'
                    value: 462000.0
                  - date: '2016-05-31'
                    value: 467000.0
                  - date: '2016-06-30'
                    value: 479000.0
                  - date: '2016-07-31'
                    value: 488000.0
                  - date: '2016-08-31'
                    value: 491000.0
                  - date: '2016-09-30'
                    value: 500000.0
                  - date: '2016-10-31'
                    value: 498000.0
                  - date: '2016-11-30'
                    value: 506000.0
                  - date: '2016-12-31'
                    value: 510000.0
                  - date: '2017-01-31'
                    value: 510000.0
                  - date: '2017-02-28'
                    value: 510000.0
                  - date: '2017-03-31'
                    value: 516000.0
                  - date: '2017-04-30'
                    value: 519000.0
                  - date: '2017-05-31'
                    value: 521000.0
                  - date: '2017-06-30'
                    value: 536000.0
                  - date: '2017-07-31'
                    value: 535000.0
                  - date: '2017-08-31'
                    value: 554000.0
                  - date: '2017-09-30'
                    value: 556000.0
                  - date: '2017-10-31'
                    value: 562000.0
                  - date: '2017-11-30'
                    value: 573000.0
                  - date: '2017-12-31'
                    value: 581000.0
                  - date: '2018-01-31'
                    value: 581000.0
                  - date: '2018-02-28'
                    value: 590000.0
                  - date: '2018-03-31'
                    value: 598000.0
                  - date: '2018-04-30'
                    value: 602000.0
                  - date: '2018-05-31'
                    value: 622000.0
                  - date: '2018-06-30'
                    value: 622000.0
                  - date: '2018-07-31'
                    value: 623000.0
                  - date: '2018-08-31'
                    value: 633000.0
                  - date: '2018-09-30'
                    value: 632000.0
                  - date: '2018-10-31'
                    value: 637000.0
                  - date: '2018-11-30'
                    value: 632000.0
                  - date: '2018-12-31'
                    value: 624000.0
                  - date: '2019-01-31'
                    value: 625000.0
                  - date: '2019-02-28'
                    value: 630000.0
                  - date: '2019-03-31'
                    value: 629000.0
                  - date: '2019-04-30'
                    value: 626000.0
                  - date: '2019-05-31'
                    value: 624000.0
                  - date: '2019-06-30'
                    value: 611000.0
                  - date: '2019-07-31'
                    value: 605000.0
                  - date: '2019-08-31'
                    value: 598000.0
                  - date: '2019-09-30'
                    value: 582000.0
                  - date: '2019-10-31'
                    value: 567000.0
                  - date: '2019-11-30'
                    value: 566000.0
                  - date: '2019-12-31'
                    value: 574000.0
                  - date: '2020-01-31'
                    value: 582000.0
                  - date: '2020-02-29'
                    value: 576000.0
                  - date: '2020-03-31'
                    value: 572000.0
                  - date: '2020-04-30'
                    value: 587000.0
                  - date: '2020-05-31'
                    value: 593000.0
                  - date: '2020-06-30'
                    value: 593000.0
                  - date: '2020-07-31'
                    value: 602000.0
                  - date: '2020-08-31'
                    value: 607000.0
                  - date: '2020-09-30'
                    value: 597000.0
                  - date: '2020-10-31'
                    value: 598000.0
                  - date: '2020-11-30'
                    value: 611000.0
                  - date: '2020-12-31'
                    value: 620000.0
                  - date: '2021-01-31'
                    value: 635000.0
                  - date: '2021-02-28'
                    value: 639000.0
                  - date: '2021-03-31'
                    value: 657000.0
                  - date: '2021-04-30'
                    value: 678000.0
                  - date: '2021-05-31'
                    value: 686000.0
                  - date: '2021-06-30'
                    value: 689000.0
                  - date: '2021-07-31'
                    value: 698000.0
                  - date: '2021-08-31'
                    value: 705000.0
                  - date: '2021-09-30'
                    value: 720000.0
                  - date: '2021-10-31'
                    value: 748000.0
                  - date: '2021-11-30'
                    value: 759000.0
                  - date: '2021-12-31'
                    value: 775000.0
                  - date: '2022-01-31'
                    value: 810000.0
                  - date: '2022-02-28'
                    value: 843000.0
                  - date: '2022-03-31'
                    value: 890000.0
                  - date: '2022-04-30'
                    value: 901000.0
                  - date: '2022-05-31'
                    value: 910000.0
                  - date: '2022-06-30'
                    value: 911000.0
                  - date: '2022-07-31'
                    value: 907000.0
                  - date: '2022-08-28'
                    value: 906000.0
                  - date: '2022-08-31'
                    value: 906000.0
                  - date: '2022-09-04'
                    value: 906000.0
                  - date: '2022-09-11'
                    value: 906000.0
                  - date: '2022-09-18'
                    value: 904000.0
                  - date: '2022-09-25'
                    value: 902000.0
                  - date: '2022-10-02'
                    value: 902000.0
                  - date: '2022-10-09'
                    value: 901000.0
                  - date: '2022-10-16'
                    value: 901000.0
                  - date: '2022-10-23'
                    value: 897000.0
                  - date: '2022-10-30'
                    value: 898000.0
                  - date: '2022-11-06'
                    value: 900000.0
                  - date: '2022-11-13'
                    value: 900000.0
                  - date: '2022-11-20'
                    value: 900000.0
                  - date: '2022-11-27'
                    value: 904000.0
                  - date: '2022-12-04'
                    value: 900000.0
                  - date: '2022-12-11'
                    value: 897000.0
                  - date: '2022-12-18'
                    value: 897000.0
                  - date: '2022-12-25'
                    value: 897000.0
                  - date: '2023-01-01'
                    value: 897000.0
                  - date: '2023-01-08'
                    value: 897000.0
                  - date: '2023-01-15'
                    value: 896000.0
                  - date: '2023-01-22'
                    value: 896000.0
                  - date: '2023-01-29'
                    value: 896000.0
                  - date: '2023-02-05'
                    value: 893000.0
                  - date: '2023-02-12'
                    value: 889000.0
                  - date: '2023-02-19'
                    value: 877000.0
                  - date: '2023-02-26'
                    value: 874000.0
                  - date: '2023-03-05'
                    value: 856000.0
                  - date: '2023-03-12'
                    value: 851000.0
                  - date: '2023-03-19'
                    value: 849000.0
                  - date: '2023-03-26'
                    value: 840000.0
                  - date: '2023-04-02'
                    value: 837000.0
                  - date: '2023-04-09'
                    value: 837000.0
                  - date: '2023-04-16'
                    value: 836000.0
                  - date: '2023-04-23'
                    value: 835000.0
                  - date: '2023-04-30'
                    value: 834000.0
                  - date: '2023-05-07'
                    value: 835000.0
                  - date: '2023-05-14'
                    value: 843000.0
                  - date: '2023-05-21'
                    value: 848000.0
                  - date: '2023-05-28'
                    value: 847000.0
                  - date: '2023-06-04'
                    value: 846000.0
                  - date: '2023-06-11'
                    value: 846000.0
                  - date: '2023-06-18'
                    value: 847000.0
                  - date: '2023-06-25'
                    value: 847000.0
                  - date: '2023-07-02'
                    value: 853000.0
                  - date: '2023-07-09'
                    value: 850000.0
                  - date: '2023-07-16'
                    value: 846000.0
                  - date: '2023-07-23'
                    value: 845000.0
                  - date: '2023-07-30'
                    value: 845000.0
                  - date: '2023-08-06'
                    value: 845000.0
                  - date: '2023-08-13'
                    value: 847000.0
                  - date: '2023-08-20'
                    value: 847000.0
                  - date: '2023-08-27'
                    value: 844000.0
                  - date: '2023-09-03'
                    value: 843000.0
                  - date: '2023-09-10'
                    value: 843000.0
                  - date: '2023-09-17'
                    value: 843000.0
                  - date: '2023-09-24'
                    value: 844000.0
                  - date: '2023-10-01'
                    value: 844000.0
                  - date: '2023-10-08'
                    value: 845000.0
                  - date: '2023-10-15'
                    value: 845000.0
                  - date: '2023-10-22'
                    value: 845000.0
                  - date: '2023-10-29'
                    value: 844000.0
                  - date: '2023-11-05'
                    value: 846000.0
                  - date: '2023-11-12'
                    value: 847000.0
                  - date: '2023-11-19'
                    value: 846000.0
                  - date: '2023-11-26'
                    value: 844000.0
                  - date: '2023-12-03'
                    value: 843000.0
                  - date: '2023-12-10'
                    value: 843000.0
                  - date: '2023-12-17'
                    value: 844000.0
                  - date: '2023-12-24'
                    value: 844000.0
                  - date: '2023-12-31'
                    value: 844000.0
                  - date: '2024-01-07'
                    value: 848000.0
                  - date: '2024-01-14'
                    value: 850000.0
                  - date: '2024-01-21'
                    value: 853000.0
                  - date: '2024-01-28'
                    value: 854000.0
                  - date: '2024-02-04'
                    value: 858000.0
                  - date: '2024-02-11'
                    value: 856000.0
                  - date: '2024-02-18'
                    value: 858000.0
                  - date: '2024-02-25'
                    value: 858000.0
                  - date: '2024-03-03'
                    value: 859000.0
                  - date: '2024-03-10'
                    value: 861000.0
                  - date: '2024-03-17'
                    value: 862000.0
                  - date: '2024-03-24'
                    value: 866000.0
                  - date: '2024-03-31'
                    value: 866000.0
                  - date: '2024-04-07'
                    value: 876000.0
                  - date: '2024-04-14'
                    value: 879000.0
                  - date: '2024-04-21'
                    value: 900000.0
                  - date: '2024-04-28'
                    value: 908000.0
                  - date: '2024-05-05'
                    value: 924000.0
                  - date: '2024-05-12'
                    value: 929000.0
                  - date: '2024-05-19'
                    value: 931000.0
                  - date: '2024-05-26'
                    value: 918000.0
                  - date: '2024-06-02'
                    value: 927000.0
                  - date: '2024-06-09'
                    value: 933000.0
                  - date: '2024-06-16'
                    value: 937000.0
                  - date: '2024-06-23'
                    value: 939000.0
                  - date: '2024-06-30'
                    value: 934000.0
                  - date: '2024-07-07'
                    value: 937000.0
                  - date: '2024-07-14'
                    value: 937000.0
                  - date: '2024-07-21'
                    value: 937000.0
                  - date: '2024-07-28'
                    value: 937000.0
                  - date: '2024-08-04'
                    value: 922000.0
                  - date: '2024-08-11'
                    value: 922000.0
                  - date: '2024-08-18'
                    value: 897000.0
                  - date: '2024-08-25'
                    value: 877000.0
                  - date: '2024-09-01'
                    value: 869000.0
                  - date: '2024-09-08'
                    value: 868000.0
                  - date: '2024-09-15'
                    value: 863000.0
                  - date: '2024-09-22'
                    value: 860000.0
                  - date: '2024-09-29'
                    value: 861000.0
                  - date: '2024-10-06'
                    value: 863000.0
                  - date: '2024-10-13'
                    value: 862000.0
                  - date: '2024-10-20'
                    value: 861000.0
                  - date: '2024-10-27'
                    value: 866000.0
                  - date: '2024-11-03'
                    value: 867000.0
                  - date: '2024-11-10'
                    value: 868000.0
                  - date: '2024-11-17'
                    value: 868000.0
                  - date: '2024-11-24'
                    value: 874000.0
                  - date: '2024-12-01'
                    value: 874000.0
                  - date: '2024-12-08'
                    value: 885000.0
                  - date: '2024-12-15'
                    value: 885000.0
                  - date: '2024-12-22'
                    value: 885000.0
                  - date: '2024-12-29'
                    value: 885000.0
                  - date: '2025-01-05'
                    value: 885000.0
                  - date: '2025-01-12'
                    value: 885000.0
                  - date: '2025-01-19'
                    value: 885000.0
                  - date: '2025-01-26'
                    value: 893000.0
                  - date: '2025-02-02'
                    value: 893000.0
                  - date: '2025-02-09'
                    value: 898000.0
                  - date: '2025-02-16'
                    value: 897000.0
                  - date: '2025-02-23'
                    value: 897000.0
                  - date: '2025-03-02'
                    value: 899000.0
                  - date: '2025-03-09'
                    value: 900000.0
                  - date: '2025-03-16'
                    value: 902000.0
                  - date: '2025-03-23'
                    value: 908000.0
                  - date: '2025-03-30'
                    value: 909000.0
                  - date: '2025-04-06'
                    value: 909000.0
                  - date: '2025-04-13'
                    value: 938000.0
                  - date: '2025-04-20'
                    value: 932000.0
                  - date: '2025-04-27'
                    value: 945000.0
                  - date: '2025-05-04'
                    value: 955000.0
                  - date: '2025-05-11'
                    value: 959000.0
                  - date: '2025-05-18'
                    value: 962000.0
                  - date: '2025-05-25'
                    value: 963000.0
                  - date: '2025-06-01'
                    value: 963000.0
                  - date: '2025-06-08'
                    value: 964000.0
                  - date: '2025-06-15'
                    value: 965000.0
                  - date: '2025-06-22'
                    value: 964000.0
                  - date: '2025-06-29'
                    value: 964000.0
                  - date: '2025-07-06'
                    value: 951000.0
                  - date: '2025-07-13'
                    value: 924000.0
                  - date: '2025-07-20'
                    value: 967000.0
                  - date: '2025-07-27'
                    value: 990000.0
                  - date: '2025-08-03'
                    value: 1010000.0
                  - date: '2025-08-10'
                    value: 976000.0
                  - date: '2025-08-17'
                    value: 987000.0
                  - date: '2025-08-24'
                    value: 1000000.0
                  - date: '2025-08-31'
                    value: 1000000.0
                  - date: '2025-09-07'
                    value: 1020000.0
                  - date: '2025-09-14'
                    value: 1040000.0
                  - date: '2025-09-21'
                    value: 1030000.0
                  - date: '2025-09-28'
                    value: 1040000.0
                  - date: '2025-10-05'
                    value: 1030000.0
                  - date: '2025-10-12'
                    value: 1020000.0
                  - date: '2025-10-19'
                    value: 1040000.0
                  - date: '2025-10-26'
                    value: 1030000.0
                  - date: '2025-11-02'
                    value: 1040000.0
                  - date: '2025-11-09'
                    value: 1050000.0
                  - date: '2025-11-16'
                    value: 1040000.0
                  - date: '2025-11-23'
                    value: 1060000.0
                  - date: '2025-11-30'
                    value: 1050000.0
                  - date: '2025-12-07'
                    value: 1060000.0
                  - date: '2025-12-14'
                    value: 1070000.0
                  - date: '2025-12-21'
                    value: 1070000.0
                  - date: '2025-12-28'
                    value: 1070000.0
                  - date: '2026-01-04'
                    value: 1090000.0
                  - date: '2026-01-11'
                    value: 1080000.0
                  - date: '2026-01-18'
                    value: 1090000.0
                  - date: '2026-01-25'
                    value: 1080000.0
                  - date: '2026-02-01'
                    value: 1110000.0
                  - date: '2026-02-08'
                    value: 1100000.0
                  - date: '2026-02-15'
                    value: 1080000.0
                  - date: '2026-02-22'
                    value: 1080000.0
                  - date: '2026-03-01'
                    value: 1090000.0
                  - date: '2026-03-08'
                    value: 1090000.0
                  - date: '2026-03-15'
                    value: 1090000.0
                  - date: '2026-03-22'
                    value: 1090000.0
                  - date: '2026-03-29'
                    value: 1100000.0
                  - date: '2026-04-05'
                    value: 1100000.0
                  - date: '2026-04-12'
                    value: 1100000.0
                  - date: '2026-04-19'
                    value: 1100000.0
                  - date: '2026-04-26'
                    value: 1130000.0
                  unit:
                  - date: '2004-02-29'
                    value: 347000.0
                  - date: '2004-03-31'
                    value: 347000.0
                  - date: '2004-04-30'
                    value: 347000.0
                  - date: '2004-05-31'
                    value: 347000.0
                  - date: '2004-06-30'
                    value: 347000.0
                  - date: '2004-07-31'
                    value: 356000.0
                  - date: '2004-08-31'
                    value: 356000.0
                  - date: '2004-09-30'
                    value: 356000.0
                  - date: '2004-10-31'
                    value: 356000.0
                  - date: '2004-11-30'
                    value: 356000.0
                  - date: '2004-12-31'
                    value: 356000.0
                  - date: '2005-01-31'
                    value: 356000.0
                  - date: '2005-02-28'
                    value: 356000.0
                  - date: '2005-03-31'
                    value: 356000.0
                  - date: '2005-04-30'
                    value: 356000.0
                  - date: '2005-05-31'
                    value: 356000.0
                  - date: '2005-06-30'
                    value: 356000.0
                  - date: '2005-07-31'
                    value: 356000.0
                  - date: '2005-08-31'
                    value: 355000.0
                  - date: '2005-09-30'
                    value: 355000.0
                  - date: '2005-10-31'
                    value: 355000.0
                  - date: '2005-11-30'
                    value: 355000.0
                  - date: '2005-12-31'
                    value: 356000.0
                  - date: '2006-01-31'
                    value: 356000.0
                  - date: '2006-02-28'
                    value: 355000.0
                  - date: '2006-03-31'
                    value: 355000.0
                  - date: '2006-04-30'
                    value: 355000.0
                  - date: '2006-05-31'
                    value: 355000.0
                  - date: '2006-06-30'
                    value: 355000.0
                  - date: '2006-07-31'
                    value: 355000.0
                  - date: '2006-08-31'
                    value: 355000.0
                  - date: '2006-09-30'
                    value: 355000.0
                  - date: '2006-10-31'
                    value: 355000.0
                  - date: '2006-11-30'
                    value: 349000.0
                  - date: '2006-12-31'
                    value: 349000.0
                  - date: '2007-01-31'
                    value: 347000.0
                  - date: '2007-02-28'
                    value: 340000.0
                  - date: '2007-03-31'
                    value: 339000.0
                  - date: '2007-04-30'
                    value: 339000.0
                  - date: '2007-05-31'
                    value: 348000.0
                  - date: '2007-06-30'
                    value: 348000.0
                  - date: '2007-07-31'
                    value: 352000.0
                  - date: '2007-08-31'
                    value: 352000.0
                  - date: '2007-09-30'
                    value: 355000.0
                  - date: '2007-10-31'
                    value: 355000.0
                  - date: '2007-11-30'
                    value: 355000.0
                  - date: '2007-12-31'
                    value: 355000.0
                  - date: '2008-01-31'
                    value: 355000.0
                  - date: '2008-02-29'
                    value: 349000.0
                  - date: '2008-03-31'
                    value: 349000.0
                  - date: '2008-04-30'
                    value: 340000.0
                  - date: '2008-05-31'
                    value: 340000.0
                  - date: '2008-06-30'
                    value: 339000.0
                  - date: '2008-07-31'
                    value: 340000.0
                  - date: '2008-08-31'
                    value: 344000.0
                  - date: '2008-09-30'
                    value: 346000.0
                  - date: '2008-10-31'
                    value: 346000.0
                  - date: '2008-11-30'
                    value: 346000.0
                  - date: '2008-12-31'
                    value: 346000.0
                  - date: '2009-01-31'
                    value: 346000.0
                  - date: '2009-02-28'
                    value: 350000.0
                  - date: '2009-03-31'
                    value: 351000.0
                  - date: '2009-04-30'
                    value: 353000.0
                  - date: '2009-05-31'
                    value: 353000.0
                  - date: '2009-06-30'
                    value: 354000.0
                  - date: '2009-07-31'
                    value: 354000.0
                  - date: '2009-08-31'
                    value: 354000.0
                  - date: '2009-09-30'
                    value: 354000.0
                  - date: '2009-10-31'
                    value: 354000.0
                  - date: '2009-11-30'
                    value: 352000.0
                  - date: '2009-12-31'
                    value: 352000.0
                  - date: '2010-01-31'
                    value: 352000.0
                  - date: '2010-02-28'
                    value: 352000.0
                  - date: '2010-03-31'
                    value: 350000.0
                  - date: '2010-04-30'
                    value: 349000.0
                  - date: '2010-05-31'
                    value: 349000.0
                  - date: '2010-06-30'
                    value: 349000.0
                  - date: '2010-07-31'
                    value: 349000.0
                  - date: '2010-08-31'
                    value: 354000.0
                  - date: '2010-09-30'
                    value: 354000.0
                  - date: '2010-10-31'
                    value: 354000.0
                  - date: '2010-11-30'
                    value: 356000.0
                  - date: '2010-12-31'
                    value: 356000.0
                  - date: '2011-01-31'
                    value: 356000.0
                  - date: '2011-02-28'
                    value: 358000.0
                  - date: '2011-03-31'
                    value: 359000.0
                  - date: '2011-04-30'
                    value: 358000.0
                  - date: '2011-05-31'
                    value: 353000.0
                  - date: '2011-06-30'
                    value: 348000.0
                  - date: '2011-07-31'
                    value: 348000.0
                  - date: '2011-08-31'
                    value: 346000.0
                  - date: '2011-09-30'
                    value: 346000.0
                  - date: '2011-10-31'
                    value: 346000.0
                  - date: '2011-11-30'
                    value: 346000.0
                  - date: '2011-12-31'
                    value: 346000.0
                  - date: '2012-01-31'
                    value: 349000.0
                  - date: '2012-02-29'
                    value: 349000.0
                  - date: '2012-03-31'
                    value: 350000.0
                  - date: '2012-04-30'
                    value: 350000.0
                  - date: '2012-05-31'
                    value: 350000.0
                  - date: '2012-06-30'
                    value: 350000.0
                  - date: '2012-07-31'
                    value: 364000.0
                  - date: '2012-08-31'
                    value: 365000.0
                  - date: '2012-09-30'
                    value: 361000.0
                  - date: '2012-10-31'
                    value: 361000.0
                  - date: '2012-11-30'
                    value: 361000.0
                  - date: '2012-12-31'
                    value: 367000.0
                  - date: '2013-01-31'
                    value: 372000.0
                  - date: '2013-02-28'
                    value: 372000.0
                  - date: '2013-03-31'
                    value: 372000.0
                  - date: '2013-04-30'
                    value: 372000.0
                  - date: '2013-05-31'
                    value: 372000.0
                  - date: '2013-06-30'
                    value: 373000.0
                  - date: '2013-07-31'
                    value: 373000.0
                  - date: '2013-08-31'
                    value: 373000.0
                  - date: '2013-09-30'
                    value: 373000.0
                  - date: '2013-10-31'
                    value: 378000.0
                  - date: '2013-11-30'
                    value: 381000.0
                  - date: '2013-12-31'
                    value: 385000.0
                  - date: '2014-01-31'
                    value: 385000.0
                  - date: '2014-02-28'
                    value: 388000.0
                  - date: '2014-03-31'
                    value: 388000.0
                  - date: '2014-04-30'
                    value: 388000.0
                  - date: '2014-05-31'
                    value: 388000.0
                  - date: '2014-06-30'
                    value: 388000.0
                  - date: '2014-07-31'
                    value: 388000.0
                  - date: '2014-08-31'
                    value: 388000.0
                  - date: '2014-09-30'
                    value: 388000.0
                  - date: '2014-10-31'
                    value: 388000.0
                  - date: '2014-11-30'
                    value: 390000.0
                  - date: '2014-12-31'
                    value: 395000.0
                  - date: '2015-01-31'
                    value: 395000.0
                  - date: '2015-02-28'
                    value: 395000.0
                  - date: '2015-03-31'
                    value: 395000.0
                  - date: '2015-04-30'
                    value: 397000.0
                  - date: '2015-05-31'
                    value: 400000.0
                  - date: '2015-06-30'
                    value: 400000.0
                  - date: '2015-07-31'
                    value: 400000.0
                  - date: '2015-08-31'
                    value: 400000.0
                  - date: '2015-09-30'
                    value: 400000.0
                  - date: '2015-10-31'
                    value: 400000.0
                  - date: '2015-11-30'
                    value: 400000.0
                  - date: '2015-12-31'
                    value: 403000.0
                  - date: '2016-01-31'
                    value: 409000.0
                  - date: '2016-02-29'
                    value: 414000.0
                  - date: '2016-03-31'
                    value: 414000.0
                  - date: '2016-04-30'
                    value: 414000.0
                  - date: '2016-05-31'
                    value: 414000.0
                  - date: '2016-06-30'
                    value: 414000.0
                  - date: '2016-07-31'
                    value: 419000.0
                  - date: '2016-08-31'
                    value: 419000.0
                  - date: '2016-09-30'
                    value: 423000.0
                  - date: '2016-10-31'
                    value: 425000.0
                  - date: '2016-11-30'
                    value: 425000.0
                  - date: '2016-12-31'
                    value: 425000.0
                  - date: '2017-01-31'
                    value: 425000.0
                  - date: '2017-02-28'
                    value: 426000.0
                  - date: '2017-03-31'
                    value: 426000.0
                  - date: '2017-04-30'
                    value: 426000.0
                  - date: '2017-05-31'
                    value: 426000.0
                  - date: '2017-06-30'
                    value: 426000.0
                  - date: '2017-07-31'
                    value: 426000.0
                  - date: '2017-08-31'
                    value: 426000.0
                  - date: '2017-09-30'
                    value: 426000.0
                  - date: '2017-10-31'
                    value: 426000.0
                  - date: '2017-11-30'
                    value: 428000.0
                  - date: '2017-12-31'
                    value: 431000.0
                  - date: '2018-01-31'
                    value: 431000.0
                  - date: '2018-02-28'
                    value: 431000.0
                  - date: '2018-03-31'
                    value: 439000.0
                  - date: '2018-04-30'
                    value: 445000.0
                  - date: '2018-05-31'
                    value: 446000.0
                  - date: '2018-06-30'
                    value: 446000.0
                  - date: '2018-07-31'
                    value: 451000.0
                  - date: '2018-08-31'
                    value: 453000.0
                  - date: '2018-09-30'
                    value: 453000.0
                  - date: '2018-10-31'
                    value: 453000.0
                  - date: '2018-11-30'
                    value: 453000.0
                  - date: '2018-12-31'
                    value: 453000.0
                  - date: '2019-01-31'
                    value: 453000.0
                  - date: '2019-02-28'
                    value: 453000.0
                  - date: '2019-03-31'
                    value: 457000.0
                  - date: '2019-04-30'
                    value: 457000.0
                  - date: '2019-05-31'
                    value: 457000.0
                  - date: '2019-06-30'
                    value: 457000.0
                  - date: '2019-07-31'
                    value: 462000.0
                  - date: '2019-08-31'
                    value: 467000.0
                  - date: '2019-09-30'
                    value: 475000.0
                  - date: '2019-10-31'
                    value: 482000.0
                  - date: '2019-11-30'
                    value: 482000.0
                  - date: '2019-12-31'
                    value: 482000.0
                  - date: '2020-01-31'
                    value: 482000.0
                  - date: '2020-02-29'
                    value: 493000.0
                  - date: '2020-03-31'
                    value: 500000.0
                  - date: '2020-04-30'
                    value: 499000.0
                  - date: '2020-05-31'
                    value: 501000.0
                  - date: '2020-06-30'
                    value: 501000.0
                  - date: '2020-07-31'
                    value: 501000.0
                  - date: '2020-08-31'
                    value: 500000.0
                  - date: '2020-09-30'
                    value: 500000.0
                  - date: '2020-10-31'
                    value: 500000.0
                  - date: '2020-11-30'
                    value: 500000.0
                  - date: '2020-12-31'
                    value: 515000.0
                  - date: '2021-01-31'
                    value: 521000.0
                  - date: '2021-02-28'
                    value: 521000.0
                  - date: '2021-03-31'
                    value: 525000.0
                  - date: '2021-04-30'
                    value: 525000.0
                  - date: '2021-05-31'
                    value: 528000.0
                  - date: '2021-06-30'
                    value: 530000.0
                  - date: '2021-07-31'
                    value: 533000.0
                  - date: '2021-08-31'
                    value: 537000.0
                  - date: '2021-09-30'
                    value: 537000.0
                  - date: '2021-10-31'
                    value: 537000.0
                  - date: '2021-11-30'
                    value: 539000.0
                  - date: '2021-12-31'
                    value: 539000.0
                  - date: '2022-01-31'
                    value: 539000.0
                  - date: '2022-02-28'
                    value: 539000.0
                  - date: '2022-03-31'
                    value: 539000.0
                  - date: '2022-04-30'
                    value: 540000.0
                  - date: '2022-05-31'
                    value: 540000.0
                  - date: '2022-06-30'
                    value: 542000.0
                  - date: '2022-07-31'
                    value: 545000.0
                  - date: '2022-08-28'
                    value: 548000.0
                  - date: '2022-08-31'
                    value: 545000.0
                  - date: '2022-09-04'
                    value: 548000.0
                  - date: '2022-09-11'
                    value: 548000.0
                  - date: '2022-09-18'
                    value: 548000.0
                  - date: '2022-09-25'
                    value: 548000.0
                  - date: '2022-10-02'
                    value: 551000.0
                  - date: '2022-10-09'
                    value: 551000.0
                  - date: '2022-10-16'
                    value: 551000.0
                  - date: '2022-10-23'
                    value: 551000.0
                  - date: '2022-10-30'
                    value: 555000.0
                  - date: '2022-11-06'
                    value: 555000.0
                  - date: '2022-11-13'
                    value: 555000.0
                  - date: '2022-11-20'
                    value: 555000.0
                  - date: '2022-11-27'
                    value: 555000.0
                  - date: '2022-12-04'
                    value: 555000.0
                  - date: '2022-12-11'
                    value: 555000.0
                  - date: '2022-12-18'
                    value: 552000.0
                  - date: '2022-12-25'
                    value: 552000.0
                  - date: '2023-01-01'
                    value: 552000.0
                  - date: '2023-01-08'
                    value: 552000.0
                  - date: '2023-01-15'
                    value: 552000.0
                  - date: '2023-01-22'
                    value: 552000.0
                  - date: '2023-01-29'
                    value: 552000.0
                  - date: '2023-02-05'
                    value: 546000.0
                  - date: '2023-02-12'
                    value: 546000.0
                  - date: '2023-02-19'
                    value: 546000.0
                  - date: '2023-02-26'
                    value: 546000.0
                  - date: '2023-03-05'
                    value: 546000.0
                  - date: '2023-03-12'
                    value: 546000.0
                  - date: '2023-03-19'
                    value: 544000.0
                  - date: '2023-03-26'
                    value: 544000.0
                  - date: '2023-04-02'
                    value: 544000.0
                  - date: '2023-04-09'
                    value: 544000.0
                  - date: '2023-04-16'
                    value: 542000.0
                  - date: '2023-04-23'
                    value: 542000.0
                  - date: '2023-04-30'
                    value: 542000.0
                  - date: '2023-05-07'
                    value: 542000.0
                  - date: '2023-05-14'
                    value: 542000.0
                  - date: '2023-05-21'
                    value: 542000.0
                  - date: '2023-05-28'
                    value: 542000.0
                  - date: '2023-06-04'
                    value: 542000.0
                  - date: '2023-06-11'
                    value: 541000.0
                  - date: '2023-06-18'
                    value: 541000.0
                  - date: '2023-06-25'
                    value: 541000.0
                  - date: '2023-07-02'
                    value: 541000.0
                  - date: '2023-07-09'
                    value: 541000.0
                  - date: '2023-07-16'
                    value: 541000.0
                  - date: '2023-07-23'
                    value: 541000.0
                  - date: '2023-07-30'
                    value: 541000.0
                  - date: '2023-08-06'
                    value: 541000.0
                  - date: '2023-08-13'
                    value: 541000.0
                  - date: '2023-08-20'
                    value: 541000.0
                  - date: '2023-08-27'
                    value: 541000.0
                  - date: '2023-09-03'
                    value: 541000.0
                  - date: '2023-09-10'
                    value: 541000.0
                  - date: '2023-09-17'
                    value: 541000.0
                  - date: '2023-09-24'
                    value: 541000.0
                  - date: '2023-10-01'
                    value: 541000.0
                  - date: '2023-10-08'
                    value: 541000.0
                  - date: '2023-10-15'
                    value: 541000.0
                  - date: '2023-10-22'
                    value: 541000.0
                  - date: '2023-10-29'
                    value: 541000.0
                  - date: '2023-11-05'
                    value: 541000.0
                  - date: '2023-11-12'
                    value: 541000.0
                  - date: '2023-11-19'
                    value: 541000.0
                  - date: '2023-11-26'
                    value: 541000.0
                  - date: '2023-12-03'
                    value: 541000.0
                  - date: '2023-12-10'
                    value: 541000.0
                  - date: '2023-12-17'
                    value: 541000.0
                  - date: '2023-12-24'
                    value: 541000.0
                  - date: '2023-12-31'
                    value: 541000.0
                  - date: '2024-01-07'
                    value: 541000.0
                  - date: '2024-01-14'
                    value: 541000.0
                  - date: '2024-01-21'
                    value: 541000.0
                  - date: '2024-01-28'
                    value: 541000.0
                  - date: '2024-02-04'
                    value: 541000.0
                  - date: '2024-02-11'
                    value: 541000.0
                  - date: '2024-02-18'
                    value: 541000.0
                  - date: '2024-02-25'
                    value: 541000.0
                  - date: '2024-03-03'
                    value: 541000.0
                  - date: '2024-03-10'
                    value: 541000.0
                  - date: '2024-03-17'
                    value: 541000.0
                  - date: '2024-03-24'
                    value: 541000.0
                  - date: '2024-03-31'
                    value: 541000.0
                  - date: '2024-04-07'
                    value: 541000.0
                  - date: '2024-04-14'
                    value: 541000.0
                  - date: '2024-04-21'
                    value: 541000.0
                  - date: '2024-04-28'
                    value: 541000.0
                  - date: '2024-05-05'
                    value: 541000.0
                  - date: '2024-05-12'
                    value: 541000.0
                  - date: '2024-05-19'
                    value: 541000.0
                  - date: '2024-05-26'
                    value: 541000.0
                  - date: '2024-06-02'
                    value: 541000.0
                  - date: '2024-06-09'
                    value: 541000.0
                  - date: '2024-06-16'
                    value: 541000.0
                  - date: '2024-06-23'
                    value: 541000.0
                  - date: '2024-06-30'
                    value: 541000.0
                  - date: '2024-07-07'
                    value: 541000.0
                  - date: '2024-07-14'
                    value: 541000.0
                  - date: '2024-07-21'
                    value: 541000.0
                  - date: '2024-07-28'
                    value: 541000.0
                  - date: '2024-08-04'
                    value: 541000.0
                  - date: '2024-08-11'
                    value: 541000.0
                  - date: '2024-08-18'
                    value: 541000.0
                  - date: '2024-08-25'
                    value: 541000.0
                  - date: '2024-09-01'
                    value: 541000.0
                  - date: '2024-09-08'
                    value: 541000.0
                  - date: '2024-09-15'
                    value: 541000.0
                  - date: '2024-09-22'
                    value: 541000.0
                  - date: '2024-09-29'
                    value: 541000.0
                  - date: '2024-10-06'
                    value: 541000.0
                  - date: '2024-10-13'
                    value: 541000.0
                  - date: '2024-10-20'
                    value: 541000.0
                  - date: '2024-10-27'
                    value: 541000.0
                  - date: '2024-11-03'
                    value: 541000.0
                  - date: '2024-11-10'
                    value: 541000.0
                  - date: '2024-11-17'
                    value: 541000.0
                  - date: '2024-11-24'
                    value: 541000.0
                  - date: '2024-12-01'
                    value: 541000.0
                  - date: '2024-12-08'
                    value: 541000.0
                  - date: '2024-12-15'
                    value: 541000.0
                  - date: '2024-12-22'
                    value: 541000.0
                  - date: '2024-12-29'
                    value: 541000.0
                  - date: '2025-01-05'
                    value: 541000.0
                  - date: '2025-01-12'
                    value: 541000.0
                  - date: '2025-01-19'
                    value: 541000.0
                  - date: '2025-01-26'
                    value: 540000.0
                  - date: '2025-02-02'
                    value: 540000.0
                  - date: '2025-02-09'
                    value: 540000.0
                  - date: '2025-02-16'
                    value: 540000.0
                  - date: '2025-02-23'
                    value: 540000.0
                  - date: '2025-03-02'
                    value: 539000.0
                  - date: '2025-03-09'
                    value: 539000.0
                  - date: '2025-03-16'
                    value: 539000.0
                  - date: '2025-03-23'
                    value: 539000.0
                  - date: '2025-03-30'
                    value: 539000.0
                  - date: '2025-04-06'
                    value: 539000.0
                  - date: '2025-04-13'
                    value: 539000.0
                  - date: '2025-04-20'
                    value: 539000.0
                  - date: '2025-04-27'
                    value: 539000.0
                  - date: '2025-05-04'
                    value: 539000.0
                  - date: '2025-05-11'
                    value: 539000.0
                  - date: '2025-05-18'
                    value: 539000.0
                  - date: '2025-05-25'
                    value: 539000.0
                  - date: '2025-06-01'
                    value: 539000.0
                  - date: '2025-06-08'
                    value: 539000.0
                  - date: '2025-06-15'
                    value: 539000.0
                  - date: '2025-06-22'
                    value: 539000.0
                  - date: '2025-06-29'
                    value: 539000.0
                  - date: '2025-07-06'
                    value: 540000.0
                  - date: '2025-07-13'
                    value: 540000.0
                  - date: '2025-07-20'
                    value: 541000.0
                  - date: '2025-07-27'
                    value: 541000.0
                  - date: '2025-08-03'
                    value: 568000.0
                  - date: '2025-08-10'
                    value: 539000.0
                  - date: '2025-08-17'
                    value: 562000.0
                  - date: '2025-08-24'
                    value: 555000.0
                  - date: '2025-08-31'
                    value: 555000.0
                  - date: '2025-09-07'
                    value: 571000.0
                  - date: '2025-09-14'
                    value: 566000.0
                  - date: '2025-09-21'
                    value: 541000.0
                  - date: '2025-09-28'
                    value: 561000.0
                  - date: '2025-10-05'
                    value: 553000.0
                  - date: '2025-10-12'
                    value: 554000.0
                  - date: '2025-10-19'
                    value: 569000.0
                  - date: '2025-10-26'
                    value: 556000.0
                  - date: '2025-11-02'
                    value: 544000.0
                  - date: '2025-11-09'
                    value: 543000.0
                  - date: '2025-11-16'
                    value: 540000.0
                  - date: '2025-11-23'
                    value: 561000.0
                  - date: '2025-11-30'
                    value: 570000.0
                  - date: '2025-12-07'
                    value: 581000.0
                  - date: '2025-12-14'
                    value: 583000.0
                  - date: '2025-12-21'
                    value: 570000.0
                  - date: '2025-12-28'
                    value: 570000.0
                  - date: '2026-01-04'
                    value: 557000.0
                  - date: '2026-01-11'
                    value: 585000.0
                  - date: '2026-01-18'
                    value: 572000.0
                  - date: '2026-01-25'
                    value: 590000.0
                  - date: '2026-02-01'
                    value: 575000.0
                  - date: '2026-02-08'
                    value: 576000.0
                  - date: '2026-02-15'
                    value: 589000.0
                  - date: '2026-02-22'
                    value: 562000.0
                  - date: '2026-03-01'
                    value: 569000.0
                  - date: '2026-03-08'
                    value: 575000.0
                  - date: '2026-03-15'
                    value: 575000.0
                  - date: '2026-03-22'
                    value: 575000.0
                  - date: '2026-03-29'
                    value: 575000.0
                  - date: '2026-04-05'
                    value: 575000.0
                  - date: '2026-04-12'
                    value: 575000.0
                  - date: '2026-04-19'
                    value: 575000.0
                  - date: '2026-04-26'
                    value: 575000.0
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 15
  /v1/suburbs/{suburb_name}/market/median-rent:
    get:
      tags:
      - Suburb - Market
      summary: Median weekly rent
      description: 'Latest median weekly rent for the suburb.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 12¢ per call.**'
      operationId: get_suburb_median_rent_v1_suburbs__suburb_name__market_median_rent_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_MedianRent_'
              example:
                data:
                  area_level: suburb
                  area_name: Belmont North
                  as_of: '2026-05-24'
                  house: 747.0
                  unit: 412.0
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 12
  /v1/suburbs/{suburb_name}/market/median-rent-series:
    get:
      tags:
      - Suburb - Market
      summary: Median rent — full history (including 2024–2025)
      description: 'Full median weekly-rent observation history for the suburb, including

        2024 and 2025 where the suburb has coverage. Older observations are

        generally month-end and recent observations can be weekly; this is not a

        uniformly quarterly series. Values are advertised median AUD per week.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 30¢ per call.**'
      operationId: get_suburb_median_rent_series_v1_suburbs__suburb_name__market_median_rent_series_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_MedianRentSeries_'
              example:
                data:
                  area_level: suburb
                  area_name: Belmont North
                  house:
                  - date: '2004-06-30'
                    value: 229.0
                  - date: '2004-07-31'
                    value: 230.0
                  - date: '2004-08-31'
                    value: 230.0
                  - date: '2004-09-30'
                    value: 253.0
                  - date: '2004-10-31'
                    value: 253.0
                  - date: '2004-11-30'
                    value: 253.0
                  - date: '2004-12-31'
                    value: 254.0
                  - date: '2005-01-31'
                    value: 255.0
                  - date: '2005-02-28'
                    value: 255.0
                  - date: '2005-03-31'
                    value: 256.0
                  - date: '2005-04-30'
                    value: 256.0
                  - date: '2005-05-31'
                    value: 258.0
                  - date: '2005-06-30'
                    value: 258.0
                  - date: '2005-07-31'
                    value: 259.0
                  - date: '2005-08-31'
                    value: 259.0
                  - date: '2005-09-30'
                    value: 258.0
                  - date: '2005-10-31'
                    value: 259.0
                  - date: '2005-11-30'
                    value: 261.0
                  - date: '2005-12-31'
                    value: 261.0
                  - date: '2006-01-31'
                    value: 262.0
                  - date: '2006-02-28'
                    value: 264.0
                  - date: '2006-03-31'
                    value: 264.0
                  - date: '2006-04-30'
                    value: 262.0
                  - date: '2006-05-31'
                    value: 264.0
                  - date: '2006-06-30'
                    value: 264.0
                  - date: '2006-07-31'
                    value: 264.0
                  - date: '2006-08-31'
                    value: 267.0
                  - date: '2006-09-30'
                    value: 271.0
                  - date: '2006-10-31'
                    value: 272.0
                  - date: '2006-11-30'
                    value: 273.0
                  - date: '2006-12-31'
                    value: 274.0
                  - date: '2007-01-31'
                    value: 275.0
                  - date: '2007-02-28'
                    value: 278.0
                  - date: '2007-03-31'
                    value: 286.0
                  - date: '2007-04-30'
                    value: 291.0
                  - date: '2007-05-31'
                    value: 297.0
                  - date: '2007-06-30'
                    value: 302.0
                  - date: '2007-07-31'
                    value: 300.0
                  - date: '2007-08-31'
                    value: 301.0
                  - date: '2007-09-30'
                    value: 306.0
                  - date: '2007-10-31'
                    value: 306.0
                  - date: '2007-11-30'
                    value: 306.0
                  - date: '2007-12-31'
                    value: 306.0
                  - date: '2008-01-31'
                    value: 307.0
                  - date: '2008-02-29'
                    value: 310.0
                  - date: '2008-03-31'
                    value: 315.0
                  - date: '2008-04-30'
                    value: 319.0
                  - date: '2008-05-31'
                    value: 319.0
                  - date: '2008-06-30'
                    value: 321.0
                  - date: '2008-07-31'
                    value: 322.0
                  - date: '2008-08-31'
                    value: 320.0
                  - date: '2008-09-30'
                    value: 320.0
                  - date: '2008-10-31'
                    value: 320.0
                  - date: '2008-11-30'
                    value: 320.0
                  - date: '2008-12-31'
                    value: 320.0
                  - date: '2009-01-31'
                    value: 321.0
                  - date: '2009-02-28'
                    value: 323.0
                  - date: '2009-03-31'
                    value: 325.0
                  - date: '2009-04-30'
                    value: 324.0
                  - date: '2009-05-31'
                    value: 327.0
                  - date: '2009-06-30'
                    value: 332.0
                  - date: '2009-07-31'
                    value: 335.0
                  - date: '2009-08-31'
                    value: 334.0
                  - date: '2009-09-30'
                    value: 337.0
                  - date: '2009-10-31'
                    value: 338.0
                  - date: '2009-11-30'
                    value: 336.0
                  - date: '2009-12-31'
                    value: 339.0
                  - date: '2010-01-31'
                    value: 340.0
                  - date: '2010-02-28'
                    value: 344.0
                  - date: '2010-03-31'
                    value: 345.0
                  - date: '2010-04-30'
                    value: 346.0
                  - date: '2010-05-31'
                    value: 351.0
                  - date: '2010-06-30'
                    value: 357.0
                  - date: '2010-07-31'
                    value: 357.0
                  - date: '2010-08-31'
                    value: 355.0
                  - date: '2010-09-30'
                    value: 354.0
                  - date: '2010-10-31'
                    value: 354.0
                  - date: '2010-11-30'
                    value: 354.0
                  - date: '2010-12-31'
                    value: 354.0
                  - date: '2011-01-31'
                    value: 354.0
                  - date: '2011-02-28'
                    value: 360.0
                  - date: '2011-03-31'
                    value: 363.0
                  - date: '2011-04-30'
                    value: 370.0
                  - date: '2011-05-31'
                    value: 373.0
                  - date: '2011-06-30'
                    value: 384.0
                  - date: '2011-07-31'
                    value: 388.0
                  - date: '2011-08-31'
                    value: 390.0
                  - date: '2011-09-30'
                    value: 394.0
                  - date: '2011-10-31'
                    value: 389.0
                  - date: '2011-11-30'
                    value: 394.0
                  - date: '2011-12-31'
                    value: 403.0
                  - date: '2012-01-31'
                    value: 407.0
                  - date: '2012-02-29'
                    value: 416.0
                  - date: '2012-03-31'
                    value: 425.0
                  - date: '2012-04-30'
                    value: 425.0
                  - date: '2012-05-31'
                    value: 429.0
                  - date: '2012-06-30'
                    value: 418.0
                  - date: '2012-07-31'
                    value: 411.0
                  - date: '2012-08-31'
                    value: 408.0
                  - date: '2012-09-30'
                    value: 408.0
                  - date: '2012-10-31'
                    value: 406.0
                  - date: '2012-11-30'
                    value: 407.0
                  - date: '2012-12-31'
                    value: 413.0
                  - date: '2013-01-31'
                    value: 414.0
                  - date: '2013-02-28'
                    value: 424.0
                  - date: '2013-03-31'
                    value: 419.0
                  - date: '2013-04-30'
                    value: 414.0
                  - date: '2013-05-31'
                    value: 413.0
                  - date: '2013-06-30'
                    value: 414.0
                  - date: '2013-07-31'
                    value: 429.0
                  - date: '2013-08-31'
                    value: 425.0
                  - date: '2013-09-30'
                    value: 422.0
                  - date: '2013-10-31'
                    value: 419.0
                  - date: '2013-11-30'
                    value: 422.0
                  - date: '2013-12-31'
                    value: 431.0
                  - date: '2014-01-31'
                    value: 434.0
                  - date: '2014-02-28'
                    value: 417.0
                  - date: '2014-03-31'
                    value: 422.0
                  - date: '2014-04-30'
                    value: 416.0
                  - date: '2014-05-31'
                    value: 410.0
                  - date: '2014-06-30'
                    value: 407.0
                  - date: '2014-07-31'
                    value: 410.0
                  - date: '2014-08-31'
                    value: 428.0
                  - date: '2014-09-30'
                    value: 428.0
                  - date: '2014-10-31'
                    value: 426.0
                  - date: '2014-11-30'
                    value: 428.0
                  - date: '2014-12-31'
                    value: 428.0
                  - date: '2015-01-31'
                    value: 427.0
                  - date: '2015-02-28'
                    value: 426.0
                  - date: '2015-03-31'
                    value: 430.0
                  - date: '2015-04-30'
                    value: 434.0
                  - date: '2015-05-31'
                    value: 439.0
                  - date: '2015-06-30'
                    value: 439.0
                  - date: '2015-07-31'
                    value: 439.0
                  - date: '2015-08-31'
                    value: 438.0
                  - date: '2015-09-30'
                    value: 438.0
                  - date: '2015-10-31'
                    value: 438.0
                  - date: '2015-11-30'
                    value: 424.0
                  - date: '2015-12-31'
                    value: 426.0
                  - date: '2016-01-31'
                    value: 427.0
                  - date: '2016-02-29'
                    value: 425.0
                  - date: '2016-03-31'
                    value: 425.0
                  - date: '2016-04-30'
                    value: 430.0
                  - date: '2016-05-31'
                    value: 437.0
                  - date: '2016-06-30'
                    value: 435.0
                  - date: '2016-07-31'
                    value: 433.0
                  - date: '2016-08-31'
                    value: 427.0
                  - date: '2016-09-30'
                    value: 424.0
                  - date: '2016-10-31'
                    value: 430.0
                  - date: '2016-11-30'
                    value: 436.0
                  - date: '2016-12-31'
                    value: 440.0
                  - date: '2017-01-31'
                    value: 446.0
                  - date: '2017-02-28'
                    value: 450.0
                  - date: '2017-03-31'
                    value: 450.0
                  - date: '2017-04-30'
                    value: 450.0
                  - date: '2017-05-31'
                    value: 450.0
                  - date: '2017-06-30'
                    value: 450.0
                  - date: '2017-07-31'
                    value: 453.0
                  - date: '2017-08-31'
                    value: 469.0
                  - date: '2017-09-30'
                    value: 460.0
                  - date: '2017-10-31'
                    value: 474.0
                  - date: '2017-11-30'
                    value: 475.0
                  - date: '2017-12-31'
                    value: 484.0
                  - date: '2018-01-31'
                    value: 487.0
                  - date: '2018-02-28'
                    value: 469.0
                  - date: '2018-03-31'
                    value: 468.0
                  - date: '2018-04-30'
                    value: 470.0
                  - date: '2018-05-31'
                    value: 472.0
                  - date: '2018-06-30'
                    value: 470.0
                  - date: '2018-07-31'
                    value: 465.0
                  - date: '2018-08-31'
                    value: 466.0
                  - date: '2018-09-30'
                    value: 462.0
                  - date: '2018-10-31'
                    value: 468.0
                  - date: '2018-11-30'
                    value: 464.0
                  - date: '2018-12-31'
                    value: 460.0
                  - date: '2019-01-31'
                    value: 457.0
                  - date: '2019-02-28'
                    value: 455.0
                  - date: '2019-03-31'
                    value: 457.0
                  - date: '2019-04-30'
                    value: 456.0
                  - date: '2019-05-31'
                    value: 455.0
                  - date: '2019-06-30'
                    value: 455.0
                  - date: '2019-07-31'
                    value: 457.0
                  - date: '2019-08-31'
                    value: 449.0
                  - date: '2019-09-30'
                    value: 449.0
                  - date: '2019-10-31'
                    value: 460.0
                  - date: '2019-11-30'
                    value: 465.0
                  - date: '2019-12-31'
                    value: 463.0
                  - date: '2020-01-31'
                    value: 464.0
                  - date: '2020-02-29'
                    value: 466.0
                  - date: '2020-03-31'
                    value: 466.0
                  - date: '2020-04-30'
                    value: 467.0
                  - date: '2020-05-31'
                    value: 472.0
                  - date: '2020-06-30'
                    value: 477.0
                  - date: '2020-07-31'
                    value: 479.0
                  - date: '2020-08-31'
                    value: 484.0
                  - date: '2020-09-30'
                    value: 496.0
                  - date: '2020-10-31'
                    value: 500.0
                  - date: '2020-11-30'
                    value: 507.0
                  - date: '2020-12-31'
                    value: 509.0
                  - date: '2021-01-31'
                    value: 511.0
                  - date: '2021-02-28'
                    value: 521.0
                  - date: '2021-03-31'
                    value: 522.0
                  - date: '2021-04-30'
                    value: 520.0
                  - date: '2021-05-31'
                    value: 520.0
                  - date: '2021-06-30'
                    value: 520.0
                  - date: '2021-07-31'
                    value: 535.0
                  - date: '2021-08-31'
                    value: 538.0
                  - date: '2021-09-30'
                    value: 536.0
                  - date: '2021-10-31'
                    value: 537.0
                  - date: '2021-11-30'
                    value: 541.0
                  - date: '2021-12-31'
                    value: 541.0
                  - date: '2022-01-31'
                    value: 542.0
                  - date: '2022-02-28'
                    value: 542.0
                  - date: '2022-03-31'
                    value: 544.0
                  - date: '2022-04-30'
                    value: 558.0
                  - date: '2022-05-31'
                    value: 577.0
                  - date: '2022-06-30'
                    value: 613.0
                  - date: '2022-07-31'
                    value: 626.0
                  - date: '2022-08-28'
                    value: 629.0
                  - date: '2022-08-31'
                    value: 628.0
                  - date: '2022-09-04'
                    value: 629.0
                  - date: '2022-09-11'
                    value: 629.0
                  - date: '2022-09-18'
                    value: 629.0
                  - date: '2022-09-25'
                    value: 628.0
                  - date: '2022-10-02'
                    value: 628.0
                  - date: '2022-10-09'
                    value: 628.0
                  - date: '2022-10-16'
                    value: 628.0
                  - date: '2022-10-23'
                    value: 628.0
                  - date: '2022-10-30'
                    value: 628.0
                  - date: '2022-11-06'
                    value: 626.0
                  - date: '2022-11-13'
                    value: 627.0
                  - date: '2022-11-20'
                    value: 618.0
                  - date: '2022-11-27'
                    value: 623.0
                  - date: '2022-12-04'
                    value: 623.0
                  - date: '2022-12-11'
                    value: 623.0
                  - date: '2022-12-18'
                    value: 623.0
                  - date: '2022-12-25'
                    value: 617.0
                  - date: '2023-01-01'
                    value: 617.0
                  - date: '2023-01-08'
                    value: 617.0
                  - date: '2023-01-15'
                    value: 615.0
                  - date: '2023-01-22'
                    value: 614.0
                  - date: '2023-01-29'
                    value: 614.0
                  - date: '2023-02-05'
                    value: 614.0
                  - date: '2023-02-12'
                    value: 614.0
                  - date: '2023-02-19'
                    value: 614.0
                  - date: '2023-02-26'
                    value: 614.0
                  - date: '2023-03-05'
                    value: 619.0
                  - date: '2023-03-12'
                    value: 620.0
                  - date: '2023-03-19'
                    value: 621.0
                  - date: '2023-03-26'
                    value: 621.0
                  - date: '2023-04-02'
                    value: 618.0
                  - date: '2023-04-09'
                    value: 618.0
                  - date: '2023-04-16'
                    value: 618.0
                  - date: '2023-04-23'
                    value: 618.0
                  - date: '2023-04-30'
                    value: 611.0
                  - date: '2023-05-07'
                    value: 609.0
                  - date: '2023-05-14'
                    value: 609.0
                  - date: '2023-05-21'
                    value: 609.0
                  - date: '2023-05-28'
                    value: 608.0
                  - date: '2023-06-04'
                    value: 608.0
                  - date: '2023-06-11'
                    value: 608.0
                  - date: '2023-06-18'
                    value: 605.0
                  - date: '2023-06-25'
                    value: 601.0
                  - date: '2023-07-02'
                    value: 602.0
                  - date: '2023-07-09'
                    value: 602.0
                  - date: '2023-07-16'
                    value: 602.0
                  - date: '2023-07-23'
                    value: 602.0
                  - date: '2023-07-30'
                    value: 601.0
                  - date: '2023-08-06'
                    value: 601.0
                  - date: '2023-08-13'
                    value: 601.0
                  - date: '2023-08-20'
                    value: 601.0
                  - date: '2023-08-27'
                    value: 601.0
                  - date: '2023-09-03'
                    value: 599.0
                  - date: '2023-09-10'
                    value: 598.0
                  - date: '2023-09-17'
                    value: 598.0
                  - date: '2023-09-24'
                    value: 598.0
                  - date: '2023-10-01'
                    value: 598.0
                  - date: '2023-10-08'
                    value: 598.0
                  - date: '2023-10-15'
                    value: 598.0
                  - date: '2023-10-22'
                    value: 598.0
                  - date: '2023-10-29'
                    value: 598.0
                  - date: '2023-11-05'
                    value: 598.0
                  - date: '2023-11-12'
                    value: 601.0
                  - date: '2023-11-19'
                    value: 611.0
                  - date: '2023-11-26'
                    value: 620.0
                  - date: '2023-12-03'
                    value: 653.0
                  - date: '2023-12-10'
                    value: 653.0
                  - date: '2023-12-17'
                    value: 659.0
                  - date: '2023-12-24'
                    value: 659.0
                  - date: '2023-12-31'
                    value: 659.0
                  - date: '2024-01-07'
                    value: 662.0
                  - date: '2024-01-14'
                    value: 667.0
                  - date: '2024-01-21'
                    value: 669.0
                  - date: '2024-01-28'
                    value: 671.0
                  - date: '2024-02-04'
                    value: 673.0
                  - date: '2024-02-11'
                    value: 674.0
                  - date: '2024-02-18'
                    value: 674.0
                  - date: '2024-02-25'
                    value: 674.0
                  - date: '2024-03-03'
                    value: 674.0
                  - date: '2024-03-10'
                    value: 684.0
                  - date: '2024-03-17'
                    value: 699.0
                  - date: '2024-03-24'
                    value: 704.0
                  - date: '2024-03-31'
                    value: 705.0
                  - date: '2024-04-07'
                    value: 706.0
                  - date: '2024-04-14'
                    value: 711.0
                  - date: '2024-04-21'
                    value: 729.0
                  - date: '2024-04-28'
                    value: 731.0
                  - date: '2024-05-05'
                    value: 732.0
                  - date: '2024-05-12'
                    value: 732.0
                  - date: '2024-05-19'
                    value: 737.0
                  - date: '2024-05-26'
                    value: 739.0
                  - date: '2024-06-02'
                    value: 741.0
                  - date: '2024-06-09'
                    value: 739.0
                  - date: '2024-06-16'
                    value: 739.0
                  - date: '2024-06-23'
                    value: 739.0
                  - date: '2024-06-30'
                    value: 739.0
                  - date: '2024-07-07'
                    value: 742.0
                  - date: '2024-07-14'
                    value: 733.0
                  - date: '2024-07-21'
                    value: 730.0
                  - date: '2024-07-28'
                    value: 729.0
                  - date: '2024-08-04'
[...]
