openapi: 3.2.0
info:
  title: Microburbs Property Data Suburb - Schools API
  summary: Suburb and property data for every Australian locality.
  description: '**One REST API for demographics, market indicators, risk scores, AVM and

    ranking — backed by 25+ years of Australian transactions and census data.**


    ```bash

    curl ''https://api.microburbs.com.au/v1/properties/GANSW704074813/profile'' \

    -H ''Authorization: Bearer test''

    ```


    ## Why Microburbs


    - **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.'
  version: 1.0.0
servers:
- url: https://api.microburbs.com.au
  description: Production
security:
- BearerAuth: []
tags:
- name: Suburb - Schools
  description: Suburb-level school list and catchment.
paths:
  /v1/suburbs/{suburb_name}/schools/catchment:
    get:
      tags:
      - Suburb - Schools
      summary: Public-school catchment polygons
      description: 'Public-school catchment polygons covering the suburb.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 200¢ per call.**'
      operationId: get_suburb_schools_catchment_v1_suburbs__suburb_name__schools_catchment_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_list_CatchmentRow__'
              example:
                data:
                - area_name: Belmont North
                  area_level: suburb
                  catchment_name: Floraville PS
                  school_name: Floraville Public School
                  school_level_type: Primary
                  id: 42041.0
                  naplan_rank: 0.5496460540954865
                  socioeconomic_rank: 0.6239973262032086
                  attendance_rate: 0.91
                  gender: coed
                  boys: 243.0
                  girls: 244.0
                  school_sector_type: Public
                  catchment_geometry:
                    type: Polygon
                    coordinates:
                    - - - 151.67042923383778
                        - -32.98757124507687
                      - - 151.6719715769448
                        - -32.98939046673288
                      - - 151.6734693055526
                        - -32.98850017540185
                      - - 151.67441597542228
                        - -32.98925716230058
                      - - 151.6744512196374
                        - -32.98927469682288
                      - - 151.67465982077098
                        - -32.98937504027857
                      - - 151.67456301029637
                        - -32.99020963121243
                      - - 151.67473675768315
                        - -32.99039272031774
                      - - 151.67477042663782
                        - -32.99055253001001
                      - - 151.6752381499246
                        - -32.99061568100905
                      - - 151.67477149401967
                        - -32.992997786654314
                      - - 151.67439920214838
                        - -32.99497548331405
                      - - 151.67407132572123
                        - -32.99652321268549
                      - - 151.67394980151346
                        - -32.997125806710365
                      - - 151.67282022422222
                        - -33.00274227884929
                      - - 151.6752319292274
                        - -33.00311151356208
                      - - 151.6750705323278
                        - -33.003870242584746
                      - - 151.67573446688428
                        - -33.00404110589344
                      - - 151.67625048774548
                        - -33.00439039595885
                      - - 151.6759383981911
                        - -33.00503540782948
                      - - 151.6746769955881
                        - -33.00596924025073
                      - - 151.6748911985307
                        - -33.00620821013698
                      - - 151.6747530731491
                        - -33.00668217190128
                      - - 151.676919389056
                        - -33.00703611467451
                      - - 151.6771988585327
                        - -33.007271679446276
                      - - 151.6764263160743
                        - -33.00792537694869
                      - - 151.67812520527949
                        - -33.00981672272549
                      - - 151.67786620867338
                        - -33.00998163417776
                      - - 151.67861744546815
                        - -33.01081732693649
                      - - 151.67831012273538
                        - -33.01129025369889
                      - - 151.67731432884437
                        - -33.011417925153836
                      - - 151.67431561890302
                        - -33.011246985022915
                      - - 151.67266874272775
                        - -33.0105812186979
                      - - 151.67186407972366
                        - -33.010536234740904
                      - - 151.67118279884238
                        - -33.01083762985143
                      - - 151.67090921372315
                        - -33.01117051236736
                      - - 151.66928379450079
                        - -33.0142158838105
                      - - 151.66921942258733
                        - -33.01492210652206
                      - - 151.66934816807384
                        - -33.01665390304882
                      - - 151.6691496842568
                        - -33.017985339625525
                      - - 151.66889219209077
                        - -33.01872751667515
                      - - 151.6676369187551
                        - -33.020729114991084
                      - - 151.6655340670236
                        - -33.02207848082798
                      - - 151.66467039485065
                        - -33.022730667493256
                      - - 151.66372089338344
                        - -33.02356725794402
                      - - 151.66242250856106
                        - -33.02519173760811
                      - - 151.66207650463218
                        - -33.02572696146896
                      - - 151.66178682507282
                        - -33.02650055675307
                      - - 151.6580800122216
                        - -33.02564375441335
                      - - 151.65740677727928
                        - -33.025200732900274
                      - - 151.65684198328444
                        - -33.02431920537466
                      - - 151.6569632660455
                        - -33.02363646420419
                      - - 151.65749543107924
                        - -33.0236678384512
                      - - 151.6576079435377
                        - -33.02375921044012
                      - - 151.6586379111286
                        - -33.0238064366852
                      - - 151.65906304204347
                        - -33.02367150449803
                      - - 151.65884679490594
                        - -33.023361682351
                      - - 151.6586583547871
                        - -33.02333407345239
                      - - 151.65895230987672
                        - -33.02194751597505
                      - - 151.6573067295955
                        - -33.021704493058735
                      - - 151.65745935139793
                        - -33.02087493119285
                      - - 151.65602365275706
                        - -33.02066874091056
                      - - 151.65678289296378
                        - -33.01994614582118
                      - - 151.65683772642348
                        - -33.01904667332856
                      - - 151.65688892827654
                        - -33.01874884516128
                      - - 151.657031321224
                        - -33.01796422820988
                      - - 151.65796886289624
                        - -33.01807892201384
                      - - 151.65926475921665
                        - -33.011586418571845
                      - - 151.6597488500325
                        - -33.009126775423375
                      - - 151.6598963522423
                        - -33.00835993259205
                      - - 151.6600968492776
                        - -33.007358584606926
                      - - 151.66014624053628
                        - -33.00709014004396
                      - - 151.66086943745162
                        - -33.00345520236493
                      - - 151.66140686339432
                        - -32.998379096754526
                      - - 151.6616612968984
                        - -32.997115113283705
                      - - 151.66217201963147
                        - -32.99458968190984
                      - - 151.66244155783718
                        - -32.993256254731975
                      - - 151.66341489287473
                        - -32.9933891460552
                      - - 151.663967262672
                        - -32.990906382973904
                      - - 151.66499792271642
                        - -32.991068416279454
                      - - 151.66681000964647
                        - -32.99135342631569
                      - - 151.66828551672774
                        - -32.99158521597014
                      - - 151.67001655087813
                        - -32.991857299708236
                      - - 151.67017364918036
                        - -32.991754061097744
                      - - 151.670366767743
                        - -32.990262497477644
                      - - 151.6706752211715
                        - -32.989288356528185
                      - - 151.67021388159623
                        - -32.98815671796097
                      - - 151.67042923383778
                        - -32.98757124507687
                  school_geometry:
                    type: Point
                    coordinates:
                    - 151.663835
                    - -33.014211
                - area_name: Belmont North
                  area_level: suburb
                  catchment_name: Jewells Primary School
                  school_name: Jewells Primary School
                  school_level_type: Primary
                  id: 42049.0
                  naplan_rank: 0.694617118701754
                  socioeconomic_rank: 0.534059962368786
                  attendance_rate: 0.89
                  gender: coed
                  boys: 165.0
                  girls: 137.0
                  school_sector_type: Public
                  catchment_geometry:
                    type: Polygon
                    coordinates:
                    - - - 151.68995399423906
                        - -33.00215969303475
                      - - 151.69446060629065
                        - -33.00604526286341
                      - - 151.69740573141755
                        - -33.00649327376626
                      - - 151.69732746695814
                        - -33.00680179642131
                      - - 151.69682046398094
                        - -33.0082181046978
                      - - 151.69641736347845
                        - -33.00815651334041
                      - - 151.695309862758
                        - -33.010442040851665
                      - - 151.6943659829279
                        - -33.012389914220364
                      - - 151.6927829260224
                        - -33.01464178258473
                      - - 151.6916809752647
                        - -33.01620927799575
                      - - 151.6911209229809
                        - -33.017005943062486
                      - - 151.69091959007835
                        - -33.0179653369942
                      - - 151.69002104966174
                        - -33.01903811922516
                      - - 151.68941621145532
                        - -33.01969145231355
                      - - 151.68992046611496
                        - -33.02083393032206
                      - - 151.69228617515236
                        - -33.02086091758735
                      - - 151.69693176166095
                        - -33.020815939337005
                      - - 151.69776861089292
                        - -33.020543813960536
                      - - 151.69793612142695
                        - -33.02037262459441
                      - - 151.7027031474856
                        - -33.02108739505039
                      - - 151.70560561216837
                        - -33.01897120504717
                      - - 151.70776254277098
                        - -33.021033243998446
                      - - 151.69648793575402
                        - -33.028450999700574
                      - - 151.68208897908914
                        - -33.02623046945808
                      - - 151.68120100651464
                        - -33.02609052434945
                      - - 151.67701454251232
                        - -33.02545127480066
                      - - 151.67707927872007
                        - -33.02540822982835
                      - - 151.6760393502072
                        - -33.02401042315079
                      - - 151.67749423070404
                        - -33.02365820221546
                      - - 151.6783768784685
                        - -33.02345841159401
                      - - 151.67856983698223
                        - -33.02326765887405
                      - - 151.6788240279343
                        - -33.02306619296175
                      - - 151.67798321549148
                        - -33.02246947902432
                      - - 151.6782984969179
                        - -33.022154188969566
                      - - 151.6782611492619
                        - -33.021932084816896
                      - - 151.67901135797783
                        - -33.02077439983145
                      - - 151.67932991096842
                        - -33.01921109072664
                      - - 151.67716164950522
                        - -33.018963281048926
                      - - 151.6771450844669
                        - -33.01884275226429
                      - - 151.67697428362004
                        - -33.01892667227838
                      - - 151.67692551112137
                        - -33.01865457068246
                      - - 151.67721277967124
                        - -33.018555555397384
                      - - 151.67732843334713
                        - -33.01836228164679
                      - - 151.67735442033228
                        - -33.01833317615751
                      - - 151.67747697467593
                        - -33.01822456026954
                      - - 151.67745570363323
                        - -33.01790951164041
                      - - 151.67953385050984
                        - -33.01821008256392
                      - - 151.67971243864702
                        - -33.01733396976445
                      - - 151.67914609539707
                        - -33.017013435807264
                      - - 151.67889106106392
                        - -33.01690080427214
                      - - 151.6787535804908
                        - -33.017051175259176
                      - - 151.67827037684344
                        - -33.01685896045837
                      - - 151.67836010697107
                        - -33.01661825864205
                      - - 151.67803772608983
                        - -33.01653603340694
                      - - 151.67783514049898
                        - -33.01650701580599
                      - - 151.6777865104575
                        - -33.01673876206546
                      - - 151.67761772765226
                        - -33.01671438004168
                      - - 151.67763176502064
                        - -33.01664450579804
                      - - 151.67749636416636
                        - -33.01642865325125
                      - - 151.67762958704284
                        - -33.01602408183863
                      - - 151.6776107205111
                        - -33.015843767144396
                      - - 151.6759718905091
                        - -33.01416705757012
                      - - 151.6758324151509
                        - -33.01240147389187
                      - - 151.67623474756496
                        - -33.011942641159045
                      - - 151.6780586484916
                        - -33.011677237457384
                      - - 151.67861744546815
                        - -33.01081732693649
                      - - 151.67786620867338
                        - -33.00998163417776
                      - - 151.67812520527949
                        - -33.00981672272549
                      - - 151.6764263160743
                        - -33.00792537694869
                      - - 151.6771988585327
                        - -33.007271679446276
                      - - 151.676919389056
                        - -33.00703611467451
                      - - 151.6747530731491
                        - -33.00668217190128
                      - - 151.6748911985307
                        - -33.00620821013698
                      - - 151.6746769955881
                        - -33.00596924025073
                      - - 151.6759383981911
                        - -33.00503540782948
                      - - 151.67625048774548
                        - -33.00439039595885
                      - - 151.67573446688428
                        - -33.00404110589344
                      - - 151.6750705323278
                        - -33.003870242584746
                      - - 151.6752319292274
                        - -33.00311151356208
                      - - 151.67649215689204
                        - -33.00330949217266
                      - - 151.68524790329525
                        - -33.00464599505163
                      - - 151.6854962152047
                        - -33.0046821393377
                      - - 151.68615872135155
                        - -33.001730915866034
                      - - 151.6857912062257
                        - -33.000216160108415
                      - - 151.68644566533084
                        - -33.0001171828214
                      - - 151.68913592066667
                        - -33.00038037220444
                      - - 151.68940414178746
                        - -33.001070959379426
                      - - 151.68977160412643
                        - -33.00132289859019
                      - - 151.68962676548327
                        - -33.00208321195145
                      - - 151.68995399423906
                        - -33.00215969303475
                  school_geometry:
                    type: Point
                    coordinates:
                    - 151.687419
                    - -33.015157
                - area_name: Belmont North
                  area_level: suburb
                  catchment_name: Belmont NPS
                  school_name: Belmont North Public School
                  school_level_type: Primary
                  id: 42002.0
                  naplan_rank: 0.6282832390938133
                  socioeconomic_rank: 0.17342543077837194
                  attendance_rate: 0.89
                  gender: coed
                  boys: 90.0
                  girls: 82.0
                  school_sector_type: Public
                  catchment_geometry:
                    type: Polygon
                    coordinates:
                    - - - 151.67431561890302
                        - -33.011246985022915
                      - - 151.67731432884437
                        - -33.011417925153836
                      - - 151.67831012273538
                        - -33.01129025369889
                      - - 151.6780586484916
                        - -33.011677237457384
                      - - 151.67623474756496
                        - -33.011942641159045
                      - - 151.6758324151509
                        - -33.01240147389187
                      - - 151.6759718905091
                        - -33.01416705757012
                      - - 151.6776107205111
                        - -33.015843767144396
                      - - 151.67762958704284
                        - -33.01602408183863
                      - - 151.67749636416636
                        - -33.01642865325125
                      - - 151.67763176502064
                        - -33.01664450579804
                      - - 151.67761772765226
                        - -33.01671438004168
                      - - 151.6777865104575
                        - -33.01673876206546
                      - - 151.67783514049898
                        - -33.01650701580599
                      - - 151.67803772608983
                        - -33.01653603340694
                      - - 151.67836010697107
                        - -33.01661825864205
                      - - 151.67827037684344
                        - -33.01685896045837
                      - - 151.6787535804908
                        - -33.017051175259176
                      - - 151.67889106106392
                        - -33.01690080427214
                      - - 151.67914609539707
                        - -33.017013435807264
                      - - 151.67971243864702
                        - -33.01733396976445
                      - - 151.67953385050984
                        - -33.01821008256392
                      - - 151.67745570363323
                        - -33.01790951164041
                      - - 151.67747697467593
                        - -33.01822456026954
                      - - 151.67735442033228
                        - -33.01833317615751
                      - - 151.67732843334713
                        - -33.01836228164679
                      - - 151.67721277967124
                        - -33.018555555397384
                      - - 151.67692551112137
                        - -33.01865457068246
                      - - 151.67697428362004
                        - -33.01892667227838
                      - - 151.6771450844669
                        - -33.01884275226429
                      - - 151.67716164950522
                        - -33.018963281048926
                      - - 151.67932991096842
                        - -33.01921109072664
                      - - 151.67901135797783
                        - -33.02077439983145
                      - - 151.6782611492619
                        - -33.021932084816896
                      - - 151.6782984969179
                        - -33.022154188969566
                      - - 151.67798321549148
                        - -33.02246947902432
                      - - 151.6788240279343
                        - -33.02306619296175
                      - - 151.67856983698223
                        - -33.02326765887405
                      - - 151.6783768784685
                        - -33.02345841159401
                      - - 151.67749423070404
                        - -33.02365820221546
                      - - 151.6760393502072
                        - -33.02401042315079
                      - - 151.67707927872007
                        - -33.02540822982835
                      - - 151.67701454251232
                        - -33.02545127480066
                      - - 151.67398969107998
                        - -33.02724273558397
                      - - 151.67135440720625
                        - -33.02685939073311
                      - - 151.66956540303943
                        - -33.0250468572003
                      - - 151.66901817892628
                        - -33.02424842608735
                      - - 151.66743349951128
                        - -33.0240027136954
                      - - 151.66706802010899
                        - -33.025803326584565
                      - - 151.66262349884812
                        - -33.02518840725265
                      - - 151.66242250856106
                        - -33.02519173760811
                      - - 151.66372089338344
                        - -33.02356725794402
                      - - 151.66467039485065
                        - -33.022730667493256
                      - - 151.6655340670236
                        - -33.02207848082798
                      - - 151.6676369187551
                        - -33.020729114991084
                      - - 151.66889219209077
                        - -33.01872751667515
                      - - 151.6691496842568
                        - -33.017985339625525
                      - - 151.66934816807384
                        - -33.01665390304882
                      - - 151.66921942258733
                        - -33.01492210652206
                      - - 151.66928379450079
                        - -33.0142158838105
                      - - 151.67090921372315
                        - -33.01117051236736
                      - - 151.67118279884238
                        - -33.01083762985143
                      - - 151.67186407972366
                        - -33.010536234740904
                      - - 151.67266874272775
                        - -33.0105812186979
                      - - 151.67431561890302
                        - -33.011246985022915
                  school_geometry:
                    type: Point
                    coordinates:
                    - 151.671163
                    - -33.01987
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-sample-response:
      - area_name: Belmont North
        area_level: suburb
        catchment_name: Floraville PS
        school_name: Floraville Public School
        school_level_type: Primary
        id: 42041.0
        naplan_rank: 0.5496460540954865
        socioeconomic_rank: 0.6239973262032086
        attendance_rate: 0.91
        gender: coed
        boys: 243.0
        girls: 244.0
        school_sector_type: Public
        catchment_geometry:
          type: Polygon
          coordinates:
          - - - 151.67042923383778
              - -32.98757124507687
            - - 151.6719715769448
              - -32.98939046673288
            - - 151.6734693055526
              - -32.98850017540185
            - - 151.67441597542228
              - -32.98925716230058
            - - 151.6744512196374
              - -32.98927469682288
            - - 151.67465982077098
              - -32.98937504027857
            - - 151.67456301029637
              - -32.99020963121243
            - - 151.67473675768315
              - -32.99039272031774
            - - 151.67477042663782
              - -32.99055253001001
            - - 151.6752381499246
              - -32.99061568100905
            - - 151.67477149401967
              - -32.992997786654314
            - - 151.67439920214838
              - -32.99497548331405
            - - 151.67407132572123
              - -32.99652321268549
            - - 151.67394980151346
              - -32.997125806710365
            - - 151.67282022422222
              - -33.00274227884929
            - - 151.6752319292274
              - -33.00311151356208
            - - 151.6750705323278
              - -33.003870242584746
            - - 151.67573446688428
              - -33.00404110589344
            - - 151.67625048774548
              - -33.00439039595885
            - - 151.6759383981911
              - -33.00503540782948
            - - 151.6746769955881
              - -33.00596924025073
            - - 151.6748911985307
              - -33.00620821013698
            - - 151.6747530731491
              - -33.00668217190128
            - - 151.676919389056
              - -33.00703611467451
            - - 151.6771988585327
              - -33.007271679446276
            - - 151.6764263160743
              - -33.00792537694869
            - - 151.67812520527949
              - -33.00981672272549
            - - 151.67786620867338
              - -33.00998163417776
            - - 151.67861744546815
              - -33.01081732693649
            - - 151.67831012273538
              - -33.01129025369889
            - - 151.67731432884437
              - -33.011417925153836
            - - 151.67431561890302
              - -33.011246985022915
            - - 151.67266874272775
              - -33.0105812186979
            - - 151.67186407972366
              - -33.010536234740904
            - - 151.67118279884238
              - -33.01083762985143
            - - 151.67090921372315
              - -33.01117051236736
            - - 151.66928379450079
              - -33.0142158838105
            - - 151.66921942258733
              - -33.01492210652206
            - - 151.66934816807384
              - -33.01665390304882
            - - 151.6691496842568
              - -33.017985339625525
            - - 151.66889219209077
              - -33.01872751667515
            - - 151.6676369187551
              - -33.020729114991084
            - - 151.6655340670236
              - -33.02207848082798
            - - 151.66467039485065
              - -33.022730667493256
            - - 151.66372089338344
              - -33.02356725794402
            - - 151.66242250856106
              - -33.02519173760811
            - - 151.66207650463218
              - -33.02572696146896
            - - 151.66178682507282
              - -33.02650055675307
            - - 151.6580800122216
              - -33.02564375441335
            - - 151.65740677727928
              - -33.025200732900274
            - - 151.65684198328444
              - -33.02431920537466
            - - 151.6569632660455
              - -33.02363646420419
            - - 151.65749543107924
              - -33.0236678384512
            - - 151.6576079435377
              - -33.02375921044012
            - - 151.6586379111286
              - -33.0238064366852
            - - 151.65906304204347
              - -33.02367150449803
            - - 151.65884679490594
              - -33.023361682351
            - - 151.6586583547871
              - -33.02333407345239
            - - 151.65895230987672
              - -33.02194751597505
            - - 151.6573067295955
              - -33.021704493058735
            - - 151.65745935139793
              - -33.02087493119285
            - - 151.65602365275706
              - -33.02066874091056
            - - 151.65678289296378
              - -33.01994614582118
            - - 151.65683772642348
              - -33.01904667332856
            - - 151.65688892827654
              - -33.01874884516128
            - - 151.657031321224
              - -33.01796422820988
            - - 151.65796886289624
              - -33.01807892201384
            - - 151.65926475921665
              - -33.011586418571845
            - - 151.6597488500325
              - -33.009126775423375
            - - 151.6598963522423
              - -33.00835993259205
            - - 151.6600968492776
              - -33.007358584606926
            - - 151.66014624053628
              - -33.00709014004396
            - - 151.66086943745162
              - -33.00345520236493
            - - 151.66140686339432
              - -32.998379096754526
            - - 151.6616612968984
              - -32.997115113283705
            - - 151.66217201963147
              - -32.99458968190984
            - - 151.66244155783718
              - -32.993256254731975
            - - 151.66341489287473
              - -32.9933891460552
            - - 151.663967262672
              - -32.990906382973904
            - - 151.66499792271642
              - -32.991068416279454
            - - 151.66681000964647
              - -32.99135342631569
            - - 151.66828551672774
              - -32.99158521597014
            - - 151.67001655087813
              - -32.991857299708236
            - - 151.67017364918036
              - -32.991754061097744
            - - 151.670366767743
              - -32.990262497477644
            - - 151.6706752211715
              - -32.989288356528185
            - - 151.67021388159623
              - -32.98815671796097
            - - 151.67042923383778
              - -32.98757124507687
        school_geometry:
          type: Point
          coordinates:
          - 151.663835
          - -33.014211
      - area_name: Belmont North
        area_level: suburb
        catchment_name: Jewells Primary School
        school_name: Jewells Primary School
        school_level_type: Primary
        id: 42049.0
        naplan_rank: 0.694617118701754
        socioeconomic_rank: 0.534059962368786
        attendance_rate: 0.89
        gender: coed
        boys: 165.0
        girls: 137.0
        school_sector_type: Public
        catchment_geometry:
          type: Polygon
          coordinates:
          - - - 151.68995399423906
              - -33.00215969303475
            - - 151.69446060629065
              - -33.00604526286341
            - - 151.69740573141755
              - -33.00649327376626
            - - 151.69732746695814
              - -33.00680179642131
            - - 151.69682046398094
              - -33.0082181046978
            - - 151.69641736347845
              - -33.00815651334041
            - - 151.695309862758
              - -33.010442040851665
            - - 151.6943659829279
              - -33.012389914220364
            - - 151.6927829260224
              - -33.01464178258473
            - - 151.6916809752647
              - -33.01620927799575
            - - 151.6911209229809
              - -33.017005943062486
            - - 151.69091959007835
              - -33.0179653369942
            - - 151.69002104966174
              - -33.01903811922516
            - - 151.68941621145532
              - -33.01969145231355
            - - 151.68992046611496
              - -33.02083393032206
            - - 151.69228617515236
              - -33.02086091758735
            - - 151.69693176166095
              - -33.020815939337005
            - - 151.69776861089292
              - -33.020543813960536
            - - 151.69793612142695
              - -33.02037262459441
            - - 151.7027031474856
              - -33.02108739505039
            - - 151.70560561216837
              - -33.01897120504717
            - - 151.70776254277098
              - -33.021033243998446
            - - 151.69648793575402
              - -33.028450999700574
            - - 151.68208897908914
              - -33.02623046945808
            - - 151.68120100651464
              - -33.02609052434945
            - - 151.67701454251232
              - -33.02545127480066
            - - 151.67707927872007
              - -33.02540822982835
            - - 151.6760393502072
              - -33.02401042315079
            - - 151.67749423070404
              - -33.02365820221546
            - - 151.6783768784685
              - -33.02345841159401
            - - 151.67856983698223
              - -33.02326765887405
            - - 151.6788240279343
              - -33.02306619296175
            - - 151.67798321549148
              - -33.02246947902432
            - - 151.6782984969179
              - -33.022154188969566
            - - 151.6782611492619
              - -33.021932084816896
            - - 151.67901135797783
              - -33.02077439983145
            - - 151.67932991096842
              - -33.01921109072664
            - - 151.67716164950522
              - -33.018963281048926
            - - 151.6771450844669
              - -33.01884275226429
            - - 151.67697428362004
              - -33.01892667227838
            - - 151.67692551112137
              - -33.01865457068246
            - - 151.67721277967124
              - -33.018555555397384
            - - 151.67732843334713
              - -33.01836228164679
            - - 151.67735442033228
              - -33.01833317615751
            - - 151.67747697467593
              - -33.01822456026954
            - - 151.67745570363323
              - -33.01790951164041
            - - 151.67953385050984
              - -33.01821008256392
            - - 151.67971243864702
              - -33.01733396976445
            - - 151.67914609539707
              - -33.017013435807264
            - - 151.67889106106392
              - -33.01690080427214
            - - 151.6787535804908
              - -33.017051175259176
            - - 151.67827037684344
              - -33.01685896045837
            - - 151.67836010697107
              - -33.01661825864205
            - - 151.67803772608983
              - -33.01653603340694
            - - 151.67783514049898
              - -33.01650701580599
            - - 151.6777865104575
              - -33.01673876206546
            - - 151.67761772765226
              - -33.01671438004168
            - - 151.67763176502064
              - -33.01664450579804
            - - 151.67749636416636
              - -33.01642865325125
            - - 151.67762958704284
              - -33.01602408183863
            - - 151.6776107205111
              - -33.015843767144396
            - - 151.6759718905091
              - -33.01416705757012
            - - 151.6758324151509
              - -33.01240147389187
            - - 151.67623474756496
              - -33.011942641159045
            - - 151.6780586484916
              - -33.011677237457384
            - - 151.67861744546815
              - -33.01081732693649
            - - 151.67786620867338
              - -33.00998163417776
            - - 151.67812520527949
              - -33.00981672272549
            - - 151.6764263160743
              - -33.00792537694869
            - - 151.6771988585327
              - -33.007271679446276
            - - 151.676919389056
              - -33.00703611467451
            - - 151.6747530731491
              - -33.00668217190128
            - - 151.6748911985307
              - -33.00620821013698
            - - 151.6746769955881
              - -33.00596924025073
            - - 151.6759383981911
              - -33.00503540782948
            - - 151.67625048774548
              - -33.00439039595885
            - - 151.67573446688428
              - -33.00404110589344
            - - 151.6750705323278
              - -33.003870242584746
            - - 151.6752319292274
              - -33.00311151356208
            - - 151.67649215689204
              - -33.00330949217266
            - - 151.68524790329525
              - -33.00464599505163
            - - 151.6854962152047
              - -33.0046821393377
            - - 151.68615872135155
              - -33.001730915866034
            - - 151.6857912062257
              - -33.000216160108415
            - - 151.68644566533084
              - -33.0001171828214
            - - 151.68913592066667
              - -33.00038037220444
            - - 151.68940414178746
              - -33.001070959379426
            - - 151.68977160412643
              - -33.00132289859019
            - - 151.68962676548327
              - -33.00208321195145
            - - 151.68995399423906
              - -33.00215969303475
        school_geometry:
          type: Point
          coordinates:
          - 151.687419
          - -33.015157
      - area_name: Belmont North
        area_level: suburb
        catchment_name: Belmont NPS
        school_name: Belmont North Public School
        school_level_type: Primary
        id: 42002.0
        naplan_rank: 0.6282832390938133
        socioeconomic_rank: 0.17342543077837194
        attendance_rate: 0.89
        gender: coed
        boys: 90.0
        girls: 82.0
        school_sector_type: Public
        catchment_geometry:
          type: Polygon
          coordinates:
          - - - 151.67431561890302
              - -33.011246985022915
            - - 151.67731432884437
              - -33.011417925153836
            - - 151.67831012273538
              - -33.01129025369889
            - - 151.6780586484916
              - -33.011677237457384
            - - 151.67623474756496
              - -33.011942641159045
            - - 151.6758324151509
              - -33.01240147389187
            - - 151.6759718905091
              - -33.01416705757012
            - - 151.6776107205111
              - -33.015843767144396
            - - 151.67762958704284
              - -33.01602408183863
            - - 151.67749636416636
              - -33.01642865325125
            - - 151.67763176502064
              - -33.01664450579804
            - - 151.67761772765226
              - -33.01671438004168
            - - 151.6777865104575
              - -33.01673876206546
            - - 151.67783514049898
              - -33.01650701580599
            - - 151.67803772608983
              - -33.01653603340694
            - - 151.67836010697107
              - -33.01661825864205
            - - 151.67827037684344
              - -33.01685896045837
            - - 151.6787535804908
              - -33.017051175259176
            - - 151.67889106106392
              - -33.01690080427214
            - - 151.67914609539707
              - -33.017013435807264
            - - 151.67971243864702
              - -33.01733396976445
            - - 151.67953385050984
              - -33.01821008256392
            - - 151.67745570363323
              - -33.01790951164041
            - - 151.67747697467593
              - -33.01822456026954
            - - 151.67735442033228
              - -33.01833317615751
            - - 151.67732843334713
              - -33.01836228164679
            - - 151.67721277967124
              - -33.018555555397384
            - - 151.67692551112137
              - -33.01865457068246
            - - 151.67697428362004
              - -33.01892667227838
            - - 151.6771450844669
              - -33.01884275226429
            - - 151.67716164950522
              - -33.018963281048926
            - - 151.67932991096842
              - -33.01921109072664
            - - 151.67901135797783
              - -33.02077439983145
            - - 151.6782611492619
              - -33.021932084816896
            - - 151.6782984969179
              - -33.022154188969566
            - - 151.67798321549148
              - -33.02246947902432
            - - 151.6788240279343
              - -33.02306619296175
            - - 151.67856983698223
              - -33.02326765887405
            - - 151.6783768784685
              - -33.02345841159401
            - - 151.67749423070404
              - -33.02365820221546
            - - 151.6760393502072
              - -33.02401042315079
            - - 151.67707927872007
              - -33.02540822982835
            - - 151.67701454251232
              - -33.02545127480066
            - - 151.67398969107998
              - -33.02724273558397
            - - 151.67135440720625
              - -33.02685939073311
            - - 151.66956540303943
              - -33.0250468572003
            - - 151.66901817892628
              - -33.02424842608735
            - - 151.66743349951128
              - -33.0240027136954
            - - 151.66706802010899
              - -33.025803326584565
            - - 151.66262349884812
              - -33.02518840725265
            - - 151.66242250856106
              - -33.02519173760811
            - - 151.66372089338344
              - -33.02356725794402
            - - 151.66467039485065
              - -33.022730667493256
            - - 151.6655340670236
              - -33.02207848082798
            - - 151.6676369187551
              - -33.020729114991084
            - - 151.66889219209077
              - -33.01872751667515
            - - 151.6691496842568
              - -33.017985339625525
            - - 151.66934816807384
              - -33.01665390304882
            - - 151.66921942258733
              - -33.01492210652206
            - - 151.66928379450079
              - -33.0142158838105
            - - 151.67090921372315
              - -33.01117051236736
            - - 151.67118279884238
              - -33.01083762985143
            - - 151.67186407972366
              - -33.010536234740904
            - - 151.67266874272775
              - -33.0105812186979
            - - 151.67431561890302
              - -33.011246985022915
        school_geometry:
          type: Point
          coordinates:
          - 151.671163
          - -33.01987
      x-price-cents: 200
  /v1/suburbs/{suburb_name}/schools/nearby:
    get:
      tags:
      - Suburb - Schools
      summary: Nearby schools
      description: 'Schools serving / near the suburb, with rank + attendance data.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 5¢ per call.**'
      operationId: get_suburb_schools_nearby_v1_suburbs__suburb_name__schools_nearby_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_list_SchoolNearbyRow__'
              example:
                data:
                - area_name: Belmont North
                  area_level: suburb
                  id: 42002.0
                  name: Belmont North Public School
                  school_level_type: Primary
                  school_sector_type: Public
                  naplan_rank: 0.6282832390938133
                  socioeconomic_rank: 0.17342543077837194
                  attendance_rate: 0.89
                  gender: coed
                  boys: 90.0
                  girls: 82.0
                - area_name: Belmont North
                  area_level: suburb
                  id: 44016.0
                  name: Belmont Christian College
                  school_level_type: Combined
                  school_sector_type: Private
                  naplan_rank: 0.7306959133962242
                  socioeconomic_rank: 0.7843137254901961
                  attendance_rate: 0.88
                  gender: coed
                  boys: 385.0
                  girls: 350.0
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-sample-response:
      - area_name: Belmont North
        area_level: suburb
        id: 42002.0
        name: Belmont North Public School
        school_level_type: Primary
        school_sector_type: Public
        naplan_rank: 0.6282832390938133
        socioeconomic_rank: 0.17342543077837194
        attendance_rate: 0.89
        gender: coed
        boys: 90.0
        girls: 82.0
      - area_name: Belmont North
        area_level: suburb
        id: 44016.0
        name: Belmont Christian College
        school_level_type: Combined
        school_sector_type: Private
        naplan_rank: 0.7306959133962242
        socioeconomic_rank: 0.7843137254901961
        attendance_rate: 0.88
        gender: coed
        boys: 385.0
        girls: 350.0
      x-price-cents: 5
  /v1/suburbs/{suburb_name}/schools/all:
    get:
      tags:
      - Suburb - Schools
      summary: All schools — bundle
      description: '**Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 205¢ per call.**'
      operationId: get_suburb_schools_all_v1_suburbs__suburb_name__schools_all_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_SuburbSchoolsAll_'
              example:
                data:
                  catchment:
                  - area_level: suburb
                    area_name: Belmont North
                    attendance_rate: 0.91
                    boys: 243.0
                    catchment_geometry:
                      coordinates:
                      - - - 151.67042923383778
                          - -32.98757124507687
                        - - 151.6719715769448
                          - -32.98939046673288
                        - - 151.6734693055526
                          - -32.98850017540185
                        - - 151.67441597542228
                          - -32.98925716230058
                        - - 151.6744512196374
                          - -32.98927469682288
                        - - 151.67465982077098
                          - -32.98937504027857
                        - - 151.67456301029637
                          - -32.99020963121243
                        - - 151.67473675768315
                          - -32.99039272031774
                        - - 151.67477042663782
                          - -32.99055253001001
                        - - 151.6752381499246
                          - -32.99061568100905
                        - - 151.67477149401967
                          - -32.992997786654314
                        - - 151.67439920214838
                          - -32.99497548331405
                        - - 151.67407132572123
                          - -32.99652321268549
                        - - 151.67394980151346
                          - -32.997125806710365
                        - - 151.67282022422222
                          - -33.00274227884929
                        - - 151.6752319292274
                          - -33.00311151356208
                        - - 151.6750705323278
                          - -33.003870242584746
                        - - 151.67573446688428
                          - -33.00404110589344
                        - - 151.67625048774548
                          - -33.00439039595885
                        - - 151.6759383981911
                          - -33.00503540782948
                        - - 151.6746769955881
                          - -33.00596924025073
                        - - 151.6748911985307
                          - -33.00620821013698
                        - - 151.6747530731491
                          - -33.00668217190128
                        - - 151.676919389056
                          - -33.00703611467451
                        - - 151.6771988585327
                          - -33.007271679446276
                        - - 151.6764263160743
                          - -33.00792537694869
                        - - 151.67812520527949
                          - -33.00981672272549
                        - - 151.67786620867338
                          - -33.00998163417776
                        - - 151.67861744546815
                          - -33.01081732693649
                        - - 151.67831012273538
                          - -33.01129025369889
                        - - 151.67731432884437
                          - -33.011417925153836
                        - - 151.67431561890302
                          - -33.011246985022915
                        - - 151.67266874272775
                          - -33.0105812186979
                        - - 151.67186407972366
                          - -33.010536234740904
                        - - 151.67118279884238
                          - -33.01083762985143
                        - - 151.67090921372315
                          - -33.01117051236736
                        - - 151.66928379450079
                          - -33.0142158838105
                        - - 151.66921942258733
                          - -33.01492210652206
                        - - 151.66934816807384
                          - -33.01665390304882
                        - - 151.6691496842568
                          - -33.017985339625525
                        - - 151.66889219209077
                          - -33.01872751667515
                        - - 151.6676369187551
                          - -33.020729114991084
                        - - 151.6655340670236
                          - -33.02207848082798
                        - - 151.66467039485065
                          - -33.022730667493256
                        - - 151.66372089338344
                          - -33.02356725794402
                        - - 151.66242250856106
                          - -33.02519173760811
                        - - 151.66207650463218
                          - -33.02572696146896
                        - - 151.66178682507282
                          - -33.02650055675307
                        - - 151.6580800122216
                          - -33.02564375441335
                        - - 151.65740677727928
                          - -33.025200732900274
                        - - 151.65684198328444
                          - -33.02431920537466
                        - - 151.6569632660455
                          - -33.02363646420419
                        - - 151.65749543107924
                          - -33.0236678384512
                        - - 151.6576079435377
                          - -33.02375921044012
                        - - 151.6586379111286
                          - -33.0238064366852
                        - - 151.65906304204347
                          - -33.02367150449803
                        - - 151.65884679490594
                          - -33.023361682351
                        - - 151.6586583547871
                          - -33.02333407345239
                        - - 151.65895230987672
                          - -33.02194751597505
                        - - 151.6573067295955
                          - -33.021704493058735
                        - - 151.65745935139793
                          - -33.02087493119285
                        - - 151.65602365275706
                          - -33.02066874091056
                        - - 151.65678289296378
                          - -33.01994614582118
                        - - 151.65683772642348
                          - -33.01904667332856
                        - - 151.65688892827654
                          - -33.01874884516128
                        - - 151.657031321224
                          - -33.01796422820988
                        - - 151.65796886289624
                          - -33.01807892201384
                        - - 151.65926475921665
                          - -33.011586418571845
                        - - 151.6597488500325
                          - -33.009126775423375
                        - - 151.6598963522423
                          - -33.00835993259205
                        - - 151.6600968492776
                          - -33.007358584606926
                        - - 151.66014624053628
                          - -33.00709014004396
                        - - 151.66086943745162
                          - -33.00345520236493
                        - - 151.66140686339432
                          - -32.998379096754526
                        - - 151.6616612968984
                          - -32.997115113283705
                        - - 151.66217201963147
                          - -32.99458968190984
                        - - 151.66244155783718
                          - -32.993256254731975
                        - - 151.66341489287473
                          - -32.9933891460552
                        - - 151.663967262672
                          - -32.990906382973904
                        - - 151.66499792271642
                          - -32.991068416279454
                        - - 151.66681000964647
                          - -32.99135342631569
                        - - 151.66828551672774
                          - -32.99158521597014
                        - - 151.67001655087813
                          - -32.991857299708236
                        - - 151.67017364918036
                          - -32.991754061097744
                        - - 151.670366767743
                          - -32.990262497477644
                        - - 151.6706752211715
                          - -32.989288356528185
                        - - 151.67021388159623
                          - -32.98815671796097
                        - - 151.67042923383778
                          - -32.98757124507687
                      type: Polygon
                    catchment_name: Floraville PS
                    gender: coed
                    girls: 244.0
                    id: 42041.0
                    naplan_rank: 0.5496460540954865
                    school_geometry:
                      coordinates:
                      - 151.663835
                      - -33.014211
                      type: Point
                    school_level_type: Primary
                    school_name: Floraville Public School
                    school_sector_type: Public
                    socioeconomic_rank: 0.6239973262032086
                  nearby:
                  - area_level: suburb
                    area_name: Belmont North
                    attendance_rate: 0.89
                    boys: 90.0
                    gender: coed
                    girls: 82.0
                    id: 42002.0
                    name: Belmont North Public School
                    naplan_rank: 0.6282832390938133
                    school_level_type: Primary
                    school_sector_type: Public
                    socioeconomic_rank: 0.17342543077837194
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-price-cents: 205
components:
  schemas:
    SuburbSchoolsAll:
      properties:
        catchment:
          anyOf:
          - items:
              $ref: '#/components/schemas/CatchmentRow'
            type: array
          - type: 'null'
          title: Catchment
        nearby:
          anyOf:
          - items:
              $ref: '#/components/schemas/SchoolNearbyRow'
            type: array
          - type: 'null'
          title: Nearby
      type: object
      title: SuburbSchoolsAll
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ApiResponse_list_CatchmentRow__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/CatchmentRow'
            type: array
          - type: 'null'
          title: Data
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[list[CatchmentRow]]
    ApiResponse_SuburbSchoolsAll_:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/SuburbSchoolsAll'
          - type: 'null'
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[SuburbSchoolsAll]
    GeoJsonPolygon:
      properties:
        type:
          type: string
          const: Polygon
          title: Type
          description: Always 'Polygon'.
        coordinates:
          items:
            items:
              items:
                type: number
              type: array
            type: array
          type: array
          title: Coordinates
          description: '`[ring][point][lon|lat]`. First ring is outer boundary; subsequent rings are holes (none today). Each ring is a list of `[lon, lat]` pairs; rings are explicitly closed (first pair == last pair).'
      type: object
      required:
      - type
      - coordinates
      title: GeoJsonPolygon
      description: 'RFC 7946 GeoJSON Polygon — list of linear rings, each ring a list

        of `[lon, lat]` pairs. First ring is the outer boundary; any

        additional rings are inner holes.'
      example:
        coordinates:
        - - - 151.67
            - -32.98
          - - 151.68
            - -32.98
          - - 151.68
            - -32.99
          - - 151.67
            - -32.99
          - - 151.67
            - -32.98
        type: Polygon
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ApiResponse_list_SchoolNearbyRow__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/SchoolNearbyRow'
            type: array
          - type: 'null'
          title: Data
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[list[SchoolNearbyRow]]
    GeoJsonPoint:
      properties:
        type:
          type: string
          const: Point
          title: Type
          description: Always 'Point'.
        coordinates:
          items:
            type: number
          type: array
          title: Coordinates
          description: '`[longitude, latitude]` — 2 numbers, lon first per GeoJSON.'
      type: object
      required:
      - type
      - coordinates
      title: GeoJsonPoint
      description: RFC 7946 GeoJSON Point — `[longitude, latitude]` coordinates.
      example:
        coordinates:
        - 151.67
        - -33.01
        type: Point
    CatchmentRow:
      properties:
        area_name:
          type: string
          title: Area Name
          description: Suburb (SAL) name.
        area_level:
          type: string
          title: Area Level
          description: Always 'suburb'.
        id:
          anyOf:
          - type: number
          - type: 'null'
          title: Id
          description: Stable numeric identifier for the school, for joining these rows across calls. Delivered as a number but it is an identifier — do not do arithmetic on it or compare its magnitude.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The school's full name, as officially registered.
        school_level_type:
          anyOf:
          - type: string
          - type: 'null'
          title: School Level Type
          description: Which years the school covers — 'Primary', 'Secondary', or 'Combined' for a school spanning both.
        school_sector_type:
          anyOf:
          - type: string
          - type: 'null'
          title: School Sector Type
          description: Who runs the school — 'Public' (government), 'Private', or 'Non-Government' (the wider category including Catholic and independent schools). Fee-paying status is implied, not stated.
        naplan_rank:
          anyOf:
          - type: number
          - type: 'null'
          title: Naplan Rank
          description: The school's academic standing on national NAPLAN testing, as a percentile between 0 and 1 where higher is better — 0.63 puts the school ahead of about 63% of schools, i.e. in roughly the top 40%. A fraction, not a percentage and not a raw test score. Null when the school has no published NAPLAN standing.
        socioeconomic_rank:
          anyOf:
          - type: number
          - type: 'null'
          title: Socioeconomic Rank
          description: 'How advantaged the school''s community is, as a percentile between 0 and 1 where higher means more advantaged — 0.17 sits near the bottom of the national distribution. Measures the intake''s socio-economic background, not teaching quality, and it is separate from `naplan_rank`: schools rank high on one and low on the other.'
        attendance_rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Attendance Rate
          description: Share of school days actually attended by the average enrolled student, as a fraction between 0 and 1 — 0.89 means 89%. Multiply by 100 to display. Most schools cluster in the high 0.8s to low 0.9s, so small differences matter more than the range suggests.
        gender:
          anyOf:
          - type: string
          - type: 'null'
          title: Gender
          description: Who the school enrols — 'coed', 'girls' (girls only) or 'boys' (boys only).
        boys:
          anyOf:
          - type: number
          - type: 'null'
          title: Boys
          description: Number of male students enrolled — a headcount, despite the numeric type. Add to `girls` for total enrolment, which is the best available proxy for school size.
        girls:
          anyOf:
          - type: number
          - type: 'null'
          title: Girls
          description: Number of female students enrolled — a headcount. See `boys`.
        catchment_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Catchment Name
          description: Catchment name as listed by myschool.
        catchment_geometry:
          anyOf:
          - $ref: '#/components/schemas/GeoJsonPolygon'
          - type: 'null'
          description: GeoJSON polygon of the catchment boundary.
        school_geometry:
          anyOf:
          - $ref: '#/components/schemas/GeoJsonPoint'
          - type: 'null'
          description: GeoJSON point of the school location.
      additionalProperties: true
      type: object
      required:
      - area_name
      - area_level
      title: CatchmentRow
      description: 'A SchoolNearbyRow plus the catchment polygon and school point.

        Same shape as SchoolNearbyRow with two extra geo fields.'
      example:
        area_level: suburb
        area_name: Belmont North
        attendance_rate: 0.91
        boys: 243.0
        catchment_geometry:
          coordinates:
          - - - 151.67042923383778
              - -32.98757124507687
            - - 151.6719715769448
              - -32.98939046673288
            - - 151.6734693055526
              - -32.98850017540185
            - - 151.67441597542228
              - -32.98925716230058
            - - 151.6744512196374
              - -32.98927469682288
            - - 151.67465982077098
              - -32.98937504027857
            - - 151.67456301029637
              - -32.99020963121243
            - - 151.67473675768315
              - -32.99039272031774
            - - 151.67477042663782
              - -32.99055253001001
            - - 151.6752381499246
              - -32.99061568100905
            - - 151.67477149401967
              - -32.992997786654314
            - - 151.67439920214838
              - -32.99497548331405
            - - 151.67407132572123
              - -32.99652321268549
            - - 151.67394980151346
              - -32.997125806710365
            - - 151.67282022422222
              - -33.00274227884929
            - - 151.6752319292274
              - -33.00311151356208
            - - 151.6750705323278
              - -33.003870242584746
            - - 151.67573446688428
              - -33.00404110589344
            - - 151.67625048774548
              - -33.00439039595885
            - - 151.6759383981911
              - -33.00503540782948
            - - 151.6746769955881
              - -33.00596924025073
            - - 151.6748911985307
              - -33.00620821013698
            - - 151.6747530731491
              - -33.00668217190128
            - - 151.676919389056
              - -33.00703611467451
            - - 151.6771988585327
              - -33.007271679446276
            - - 151.6764263160743
              - -33.00792537694869
            - - 151.67812520527949
              - -33.00981672272549
            - - 151.67786620867338
              - -33.00998163417776
            - - 151.67861744546815
              - -33.01081732693649
            - - 151.67831012273538
              - -33.01129025369889
            - - 151.67731432884437
              - -33.011417925153836
            - - 151.67431561890302
              - -33.011246985022915
            - - 151.67266874272775
              - -33.0105812186979
            - - 151.67186407972366
              - -33.010536234740904
            - - 151.67118279884238
              - -33.01083762985143
            - - 151.67090921372315
              - -33.01117051236736
            - - 151.66928379450079
              - -33.0142158838105
            - - 151.66921942258733
              - -33.01492210652206
            - - 151.66934816807384
              - -33.01665390304882
            - - 151.6691496842568
              - -33.017985339625525
            - - 151.66889219209077
              - -33.01872751667515
            - - 151.6676369187551
              - -33.020729114991084
            - - 151.6655340670236
              - -33.02207848082798
            - - 151.66467039485065
              - -33.022730667493256
            - - 151.66372089338344
              - -33.02356725794402
            - - 151.66242250856106
              - -33.02519173760811
            - - 151.66207650463218
              - -33.02572696146896
            - - 151.66178682507282
              - -33.02650055675307
            - - 151.6580800122216
              - -33.02564375441335
            - - 151.65740677727928
              - -33.025200732900274
            - - 151.65684198328444
              - -33.02431920537466
            - - 151.6569632660455
              - -33.02363646420419
            - - 151.65749543107924
              - -33.0236678384512
            - - 151.6576079435377
              - -33.02375921044012
            - - 151.6586379111286
              - -33.0238064366852
            - - 151.65906304204347
              - -33.02367150449803
            - - 151.65884679490594
              - -33.023361682351
            - - 151.6586583547871
              - -33.02333407345239
            - - 151.65895230987672
              - -33.02194751597505
            - - 151.6573067295955
              - -33.021704493058735
            - - 151.65745935139793
              - -33.02087493119285
            - - 151.65602365275706
              - -33.02066874091056
            - - 151.65678289296378
              - -33.01994614582118
            - - 151.65683772642348
              - -33.01904667332856
            - - 151.65688892827654
              - -33.01874884516128
            - - 151.657031321224
              - -33.01796422820988
            - - 151.65796886289624
              - -33.01807892201384
            - - 151.65926475921665
              - -33.011586418571845
            - - 151.6597488500325
              - -33.009126775423375
            - - 151.6598963522423
              - -33.00835993259205
            - - 151.6600968492776
              - -33.007358584606926
            - - 151.66014624053628
              - -33.00709014004396
            - - 151.66086943745162
              - -33.00345520236493
            - - 151.66140686339432
              - -32.998379096754526
            - - 151.6616612968984
              - -32.997115113283705
            - - 151.66217201963147
              - -32.99458968190984
            - - 151.66244155783718
              - -32.993256254731975
            - - 151.66341489287473
              - -32.9933891460552
            - - 151.663967262672
              - -32.990906382973904
            - - 151.66499792271642
              - -32.991068416279454
            - - 151.66681000964647
              - -32.99135342631569
            - - 151.66828551672774
              - -32.99158521597014
            - - 151.67001655087813
              - -32.991857299708236
            - - 151.67017364918036
              - -32.991754061097744
            - - 151.670366767743
              - -32.990262497477644
            - - 151.6706752211715
              - -32.989288356528185
            - - 151.67021388159623
              - -32.98815671796097
            - - 151.67042923383778
              - -32.98757124507687
          type: Polygon
        catchment_name: Floraville PS
        gender: coed
        girls: 244.0
        id: 42041.0
        naplan_rank: 0.5496460540954865
        school_geometry:
          coordinates:
          - 151.663835
          - -33.014211
          type: Point
        school_level_type: Primary
        school_name: Floraville Public School
        school_sector_type: Public
        socioeconomic_rank: 0.6239973262032086
    SchoolNearbyRow:
      properties:
        area_name:
          type: string
          title: Area Name
          description: Suburb (SAL) name.
        area_level:
          type: string
          title: Area Level
          description: Always 'suburb'.
        id:
          anyOf:
          - type: number
          - type: 'null'
          title: Id
          description: Stable numeric identifier for the school, for joining these rows across calls. Delivered as a number but it is an identifier — do not do arithmetic on it or compare its magnitude.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The school's full name, as officially registered.
        school_level_type:
          anyOf:
          - type: string
          - type: 'null'
          title: School Level Type
          description: Which years the school covers — 'Primary', 'Secondary', or 'Combined' for a school spanning both.
        school_sector_type:
          anyOf:
          - type: string
          - type: 'null'
          title: School Sector Type
          description: Who runs the school — 'Public' (government), 'Private', or 'Non-Government' (the wider category including Catholic and independent schools). Fee-paying status is implied, not stated.
        naplan_rank:
          anyOf:
          - type: number
          - type: 'null'
          title: Naplan Rank
          description: The school's academic standing on national NAPLAN testing, as a percentile between 0 and 1 where higher is better — 0.63 puts the school ahead of about 63% of schools, i.e. in roughly the top 40%. A fraction, not a percentage and not a raw test score. Null when the school has no published NAPLAN standing.
        socioeconomic_rank:
          anyOf:
          - type: number
          - type: 'null'
          title: Socioeconomic Rank
          description: 'How advantaged the school''s community is, as a percentile between 0 and 1 where higher means more advantaged — 0.17 sits near the bottom of the national distribution. Measures the intake''s socio-economic background, not teaching quality, and it is separate from `naplan_rank`: schools rank high on one and low on the other.'
        attendance_rate:
          anyOf:
          - type: number
          - type: 'null'
          title: Attendance Rate
          description: Share of school days actually attended by the average enrolled student, as a fraction between 0 and 1 — 0.89 means 89%. Multiply by 100 to display. Most schools cluster in the high 0.8s to low 0.9s, so small differences matter more than the range suggests.
        gender:
          anyOf:
          - type: string
          - type: 'null'
          title: Gender
          description: Who the school enrols — 'coed', 'girls' (girls only) or 'boys' (boys only).
        boys:
          anyOf:
          - type: number
          - type: 'null'
          title: Boys
          description: Number of male students enrolled — a headcount, despite the numeric type. Add to `girls` for total enrolment, which is the best available proxy for school size.
        girls:
          anyOf:
          - type: number
          - type: 'null'
          title: Girls
          description: Number of female students enrolled — a headcount. See `boys`.
      additionalProperties: true
      type: object
      required:
      - area_name
      - area_level
      title: SchoolNearbyRow
      description: One school within the suburb's catchment radius.
      example:
        area_level: suburb
        area_name: Belmont North
        attendance_rate: 0.89
        boys: 90.0
        gender: coed
        girls: 82.0
        id: 42002.0
        name: Belmont North Public School
        naplan_rank: 0.6282832390938133
        school_level_type: Primary
        school_sector_type: Public
        socioeconomic_rank: 0.17342543077837194
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token. Use `test` for the public sandbox (works only for GNAFs GANSW704074813, GAACT714845944, GAVIC419929404, GAQLD162849753, GAWA_146662014, GASA_422266490, GATAS702292990, GANT_703835649 and SALs 'Belmont North', 'Bondi', 'St Kilda (Vic.)', 'Fortitude Valley', 'Subiaco', 'Unley', 'Sandy Bay', 'Kambah', 'Nightcliff', always 0¢). Mint your own at /developers/keys for full access.
x-tagGroups:
- name: Suburb
  tags:
  - Suburb - Hero
  - Suburb - Profile
  - Suburb - Market
  - Suburb - Forecast
  - Suburb - Listings
  - Suburb - Sales
  - Suburb - Street Forecasts
  - Suburb - Demographics
  - Suburb - Ethnicity
  - Suburb - Development
  - Suburb - Schools
  - Suburb - Risks
  - Suburb - Crime
  - Suburb - Lifestyle
  - Suburb - Similar
  - Suburb - Shapes
- name: Finders
  tags:
  - Suburb - Finder
- name: Property
  tags:
  - Property - Profile
  - Property - Basics
  - Property - Valuation
  - Property - History
  - Property - Title
  - Property - Comparables
  - Property - Development
  - Property - Schools
  - Property - Amenities
  - Property - Risks
  - Property - Surroundings
  - Property - Context
- name: Area Statistics
  tags:
  - Area Statistics
- name: Mesh Block
  tags:
  - Mesh Block - Profile
- name: LGA
  tags:
  - LGA - Profile
- name: SA4
  tags:
  - SA4 - Profile
- name: Geocode
  tags:
  - Geocode
- name: Account
  tags:
  - Account
