openapi: 3.2.0
info:
  title: Microburbs Property Data Suburb - Similar API
  summary: Suburb and property data for every Australian locality.
  description: '**One REST API for demographics, market indicators, risk scores, AVM and

    ranking — backed by 25+ years of Australian transactions and census data.**


    ```bash

    curl ''https://api.microburbs.com.au/v1/properties/GANSW704074813/profile'' \

    -H ''Authorization: Bearer test''

    ```


    ## Why Microburbs


    - **Data depth** — Demographics, lifestyle, risk, market, AVM and growth forecasts — all keyed to the same national suburb and property graph.'
  version: 1.0.0
servers:
- url: https://api.microburbs.com.au
  description: Production
security:
- BearerAuth: []
tags:
- name: Suburb - Similar
  description: Most-similar suburb recommendations.
paths:
  /v1/suburbs/{suburb_name}/similar:
    get:
      tags:
      - Suburb - Similar
      summary: Similar suburbs
      description: 'Top-10 suburbs ranked closest by Microburbs'' similarity model.


        **Exact suburb identifier required.** Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.


        **Price: 60¢ per call.**'
      operationId: get_suburb_similar_v1_suburbs__suburb_name__similar_get
      parameters:
      - name: suburb_name
        in: path
        required: true
        schema:
          type: string
          title: Suburb Name
          example: Belmont North
        description: Exact ABS Suburb and Locality (SAL) name, e.g. `Burwood (NSW)` — many suburbs carry a state suffix. If starting from free text or an unverified bare name, first call `GET /v1/geocode/suburb?q=<text>`, then use the exact `data[].area_name` it returns. Suburb data endpoints do not guess a state or typo-correct names.
        example: Belmont North
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_list_SimilarSuburb__'
              example:
                data:
                - area_name: Coogee
                  area_level: suburb
                  summary: Like Bondi, Coogee also has a buzzing beach culture and vibrant cafe scene. However, Coogee is generally considered quieter and more family-friendly.
                  keywords: Quieter, Family-friendly
                  price: {}
                - area_name: Manly
                  area_level: suburb
                  summary: Manly is similar to Bondi in terms of its beachside lifestyle and tourist attractions. But it's somewhat isolated from the city center compared to Bondi.
                  keywords: Isolated, Tourist Spot
                  price: {}
                - area_name: Bronte
                  area_level: suburb
                  summary: Bronte, just like Bondi, is known for its stunning beach and popular coastal walk. Unlike Bondi, Bronte has a quieter and more relaxed vibe.
                  keywords: Relaxed, Less Crowded
                  price:
                    house: 6120000.0
                    unit: 1910000.0
          headers:
            X-Cost-Cents:
              description: Exact cents billed for this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Spent-Cents:
              description: Cumulative cents Autumn reports used for this prepaid wallet.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Remaining-Cents:
              description: Spendable prepaid credit left after this call.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Period-End:
              description: Start of the next UTC calendar month. Prepaid credit does not expire at this timestamp.
              required: true
              schema:
                type: string
                format: date-time
            X-Balance-Cents:
              description: Compatibility alias of X-Remaining-Cents.
              required: true
              schema:
                type: integer
                minimum: 0
            X-Rate-Card-Version:
              description: Version of the endpoint rate card used for this call.
              required: true
              schema:
                type: integer
                minimum: 1
            X-Request-Id:
              description: Request identifier to quote in support requests.
              required: true
              schema:
                type: string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
              example:
                detail:
                - type: missing
                  loc:
                  - query
                  - address
                  msg: Field required
                  input: null
      x-sample-response:
      - area_name: Coogee
        area_level: suburb
        summary: Like Bondi, Coogee also has a buzzing beach culture and vibrant cafe scene. However, Coogee is generally considered quieter and more family-friendly.
        keywords: Quieter, Family-friendly
        price: {}
      - area_name: Manly
        area_level: suburb
        summary: Manly is similar to Bondi in terms of its beachside lifestyle and tourist attractions. But it's somewhat isolated from the city center compared to Bondi.
        keywords: Isolated, Tourist Spot
        price: {}
      - area_name: Bronte
        area_level: suburb
        summary: Bronte, just like Bondi, is known for its stunning beach and popular coastal walk. Unlike Bondi, Bronte has a quieter and more relaxed vibe.
        keywords: Relaxed, Less Crowded
        price:
          house: 6120000.0
          unit: 1910000.0
      x-price-cents: 60
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ApiResponse_list_SimilarSuburb__:
      properties:
        data:
          anyOf:
          - items:
              $ref: '#/components/schemas/SimilarSuburb'
            type: array
          - type: 'null'
          title: Data
          description: The endpoint's payload, or `null` when Microburbs has no value.
        available:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Available
          description: '`false` on no-data responses. Omitted on success — branch on `data !== null` if you want a single discriminator.'
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
          description: Machine-readable slug naming the no-data condition (e.g. `no_avm_for_GANSW704074813`). Stable per endpoint. Omitted on success.
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
          description: Human-readable explanation. Omitted on success.
      type: object
      title: ApiResponse[list[SimilarSuburb]]
    SimilarSuburb:
      properties:
        area_name:
          type: string
          title: Area Name
          description: Similar suburb's SAL name.
        area_level:
          type: string
          title: Area Level
          description: Always 'suburb'.
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: Plain-language explanation of the similarity.
        keywords:
          anyOf:
          - type: string
          - type: 'null'
          title: Keywords
          description: Comma-separated tags describing the suburb.
        price:
          anyOf:
          - $ref: '#/components/schemas/PriceByType'
          - type: 'null'
          description: Median sale prices for this similar suburb.
      additionalProperties: true
      type: object
      required:
      - area_name
      - area_level
      title: SimilarSuburb
      description: One similar-suburb recommendation.
      example:
        area_level: suburb
        area_name: Coogee
        keywords: Quieter, Family-friendly
        price: {}
        summary: Like Bondi, Coogee also has a buzzing beach culture and vibrant cafe scene. However, Coogee is generally considered quieter and more family-friendly.
    PriceByType:
      properties:
        house:
          anyOf:
          - type: number
          - type: 'null'
          title: House
          description: Value for houses.
        unit:
          anyOf:
          - type: number
          - type: 'null'
          title: Unit
          description: Value for units / apartments.
      type: object
      title: PriceByType
      description: A scalar value broken down by property type.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key as Bearer token. Use `test` for the public sandbox (works only for GNAFs GANSW704074813, GAACT714845944, GAVIC419929404, GAQLD162849753, GAWA_146662014, GASA_422266490, GATAS702292990, GANT_703835649 and SALs 'Belmont North', 'Bondi', 'St Kilda (Vic.)', 'Fortitude Valley', 'Subiaco', 'Unley', 'Sandy Bay', 'Kambah', 'Nightcliff', always 0¢). Mint your own at /developers/keys for full access.
x-tagGroups:
- name: Suburb
  tags:
  - Suburb - Hero
  - Suburb - Profile
  - Suburb - Market
  - Suburb - Forecast
  - Suburb - Listings
  - Suburb - Sales
  - Suburb - Street Forecasts
  - Suburb - Demographics
  - Suburb - Ethnicity
  - Suburb - Development
  - Suburb - Schools
  - Suburb - Risks
  - Suburb - Crime
  - Suburb - Lifestyle
  - Suburb - Similar
  - Suburb - Shapes
- name: Finders
  tags:
  - Suburb - Finder
- name: Property
  tags:
  - Property - Profile
  - Property - Basics
  - Property - Valuation
  - Property - History
  - Property - Title
  - Property - Comparables
  - Property - Development
  - Property - Schools
  - Property - Amenities
  - Property - Risks
  - Property - Surroundings
  - Property - Context
- name: Area Statistics
  tags:
  - Area Statistics
- name: Mesh Block
  tags:
  - Mesh Block - Profile
- name: LGA
  tags:
  - LGA - Profile
- name: SA4
  tags:
  - SA4 - Profile
- name: Geocode
  tags:
  - Geocode
- name: Account
  tags:
  - Account
